/* Css cross browser initialization */

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
/*    line-height: 1; */
    font-family: inherit;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    text-decoration:none;
}
a:hover,a:active {
    outline: 0;
}
sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    margin-top:3px;
    bottom: -0.25em;
}

img {
    -ms-interpolation-mode: bicubic;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
     content:'';
}
abbr,acronym { 
    border:0;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { 
    display:block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Css cross browser initialization end*/

input{
    color: #333;
}
input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled]{
    color: #aaa;
}

input[type='email'], 
input[type='text'], 
input[type='password'], 
textarea {
    border: 1px solid #cccccc;
    border-radius:4px;
    padding:7px;
}

textarea:focus, input:focus{
    outline: 0;
}
/* WebKit browsers */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder { 
    color:#aaaaaa;
}
/* Mozilla Firefox 4 to 18 */
textarea:-moz-placeholder,
input:-moz-placeholder { 
    color:#aaaaaa;
}
/* Mozilla Firefox 19+ */
textarea::-moz-placeholder,
input::-moz-placeholder { 
    color:#aaaaaa;
}
/* Internet Explorer 10+ */
textarea:-ms-input-placeholder,
input:-ms-input-placeholder { 
    color:#aaaaaa;
}

.simple-clearfix{
    clear:both;
}
.clearfix{
    clear:both;
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hidden{
    display:none;
}

/* tooltipster override */
.tooltipster-default .tooltipster-content {
    font-size:12px;   
    font-family: "Roboto", "NanumGothic", "나눔고딕", "Nanum Gothic", sans-serif, Dotum, arial;
}
.tooltipster-default {
    background: #000;
    border:none;
    opacity:0.8;
}
/* tooltipster override end */

html, body {
    width:100%;
    height:100%;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
    background:white;
    font-family: "Roboto", "NanumGothic", "나눔고딕", "Nanum Gothic", sans-serif, Dotum, arial;
    overflow-x:hidden;
    color:#333333;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y:scroll;
    position: relative;
    font-weight:300;
    font-size:13px;
}
.ic {
    vertical-align: middle;
    display: inline-block;
    background-size: contain;
    text-indent: -9999px;
    background-repeat:no-repeat;
}
.ic-download {
    background-image:url("/static/images/ic_download.png");
    background-size:cover;
    width:32px;
    height:32px;
}
.ic-arrow {
    width:21px;
    height:43px;
    background-image:url("/static/images/ic_arrow.png");
    background-size:cover;
}
.ic-gray-carrot {
    width:8px;
    height:5px;
    background-image:url("/static/images/ic_gray_carrot.png");
    background-size:cover;
}
.ic-logo-lg{
    width:600px;
    height:142px;
    background-image:url("/static/images/logo_600x142.png");
    background-repeat:no-repeat;
}
.ic-logo-lg-inverse{
    width:600px;
    height:142px;
    background-image:url("/static/images/logo_600x142__white.png");
    background-repeat:no-repeat;
}
.ic-logo {
    width:130px;
    height:30px;
    background-image:url("/static/images/logo_254x60.png");
    background-repeat:no-repeat;
}
.ic-logo-inverse{
    width:112px;
    height:30px;
    background-image:url("/static/images/logo_254x60__white.png");
    background-repeat:no-repeat;
}
.ic-play {
    display:block;
    height:125px;
    width:100px;
    background-image:url("/static/images/btn_play2.gif");
    background-size:cover;
    margin-top:-10px;
    cursor:pointer;
}
.ic-play.no-animate{
    background-image:url("/static/images/btn_play.png");
    height:100px;
    margin-top:-10px;
}
.ic-down-android,
.ic-down-mac,
.ic-down-windows {
    width:89px; 
    height:89px;
    background-size:cover;
    background-position:0 0;
}
.ic-down-ios2,
.ic-down-android2,
.ic-down-mac2,
.ic-down-windows2 {
    width:100px; 
    height:100px;
    background-size:400px;
    background-position:0 0;
    background-image:url("/static/images/ic_downloads.png");
}
.ic-down-ios2 {
    background-position:0 0;
}
.ic-down-android2 {
    background-position:-100px 0;
}
.ic-down-mac2 {
    background-position:-200px 0;
}
.ic-down-windows2 {
    background-position:-300px 0;
}
a:hover .ic-down-ios2,
a:hover .ic-down-android2,
a:hover .ic-down-mac2,
a:hover .ic-down-windows2{
    background-position-y:-100px;
}
a:active .ic-down-ios2,
a:active .ic-down-android2,
a:active .ic-down-mac2,
a:active .ic-down-windows2{
    background-position-y:-200px;
}
a[disabled] .ic-down-ios2,
a[disabled] .ic-down-android2,
a[disabled] .ic-down-mac2,
a[disabled] .ic-down-windows2{
    background-position-y:-300px;
}
a[disabled] .ic-down-android,
a[disabled] .ic-down-mac,
a[disabled] .ic-down-windows{
    background-position:0 -89px;
}
.ic-down-android {
    background-image:url("/static/images/ic_down_android.png");
}
.ic-down-mac {
    background-image:url("/static/images/ic_down_mac.png");
}
.ic-down-windows {
    background-image:url("/static/images/ic_down_windows.png");
}
a[disabled] .ic-down-android,
a[disabled] .ic-down-mac,
a[disabled] .ic-down-windows{
    background-position:0 -89px;
}
.ic-down-android {
    background-image:url("/static/images/ic_down_android.png");
}
.ic-down-mac {
    background-image:url("/static/images/ic_down_mac.png");
}
.ic-down-windows {
    background-image:url("/static/images/ic_down_windows.png");
}
.ic-notification {
    background-image:url("/static/images/ic_notification.png");
    background-size:cover;
    width:20px;
    height:20px;
}
#modal .modal-title{
    font-size:18px;
    font-weight:bold;
}
#modal .modal-header .btn-close{
    float:right;
    padding:5px;
    display:inline-block;
    color:#ccc;
}
#modal .modal-header .btn-close:hover{
    color:#808080;
}
#modal .modal-footer .btn {
    padding-right:10px;
    padding-left:10px;
}
#modal .error-prompt {
    padding:5px 10px;
    background:#F2DFDF;
    color:#FF4554;
    font-size:13px;
    display:none;
}
#modal-alert .modal-dialog,
#modal-confirm .modal-dialog {
    width:400px;
}
#modal-alert .modal-header,
#modal-alert .modal-footer{
    border-top:none;
    border-bottom:none;
}
#modal-alert .modal-body{
    text-align:center;
}
#modal-alert .modal-body i{
    font-size:24px;
}
#modal-confirm .modal-body strong {
    display:block;
    color:#FF4554;
    margin-top:5px;
}
#modal-inquiry input {
    width:100%;
    padding:7px;
    border-radius: 4px;
    font-size:14px;
    margin-bottom:10px;
}
#modal-inquiry textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height:250px;
    padding: 7px;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 4px;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#modal-inquiry textarea.error,
#modal-inquiry input.error{
    border-color:#FF4554;
    background:#F2DFDF;
}
#modal-upload .send-form {
    margin-top:20px;
}
#modal-upload .modal-content {
    height:233px;
}
#modal-upload .modal-body {
    height:80px;
}
#modal-upload .droppable{
    display:none;
    padding:20px;
    text-align:center;
}
#modal-upload .droppable .title{
    font-size:20px;
    font-weight:bold;
    margin-top: 64px;
}
#modal-upload .droppable .desc{
    font-size:14px;
    margin-top: 10px;
}
#modal-compressing-list .modal-dialog{
    width:700px;
}
#modal-compressing-list .items {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    width:100%;
    font-size:12px;
    table-layout:fixed;
}
#modal-compressing-list .items-wrapper{
    max-height:400px;
    overflow:auto;
    margin-top:10px;
}
#modal-compressing-list .item.finished{
    background:#DFF0D8;
}
#modal-compressing-list .item.finished .status-wrapper{
    color:#468847;
}
#modal-compressing-list .item.cancelled .status-wrapper i,
#modal-compressing-list .item.finished .status-wrapper i {
    margin-right:5px;
    vertical-align:middle;
}
#modal-compressing-list .item.cancelled .status-wrapper .text,
#modal-compressing-list .item.finished .status-wrapper .text {
    display:inline-block; 
    margin-top:2px;
    vertical-align:middle;
}
#modal-compressing-list .item.finished .status-wrapper .download {
    display: inline-block;
    margin-top: 2px;
    vertical-align: middle;
    margin-left: 30px;
}
#modal-compressing-list .item.failed{
    background:#F2DFDF;
}
#modal-compressing-list .item.cancelled{
    opacity:0.5;
}
#modal-compressing-list .item td{
    border-bottom: 1px solid #ccc; 
    padding:5px 8px;
}
#modal-compressing-list .item .peer {
    width:153px;
}
#modal-compressing-list .item .peer .name{
    line-height:20px;
    overflow:hidden;
    width:128px;
    margin-left:25px;
}
#modal-compressing-list .item .peer .icon{
    vertical-align:bottom;
    width:20px;
    height:20px;
    background-size:80px 80px;
    background-image:url("/static/images/ic_devices.png");
    float:left;
}
#modal-compressing-list .item .peer .icon-phone{
    background-position:0 0;
}
#modal-compressing-list .item .peer .icon-tablet{
    background-position:-20px 0;
}
#modal-compressing-list .item .peer .icon-labtop{
    background-position:-40px 0;
}
#modal-compressing-list .item .peer .icon-desktop{
    background-position:-60px 0;
}
#modal-compressing-list .item .filename{
    width:284px;
}
#modal-compressing-list .item .status-wrapper{
    height: 22px;
    line-height:20px;
    text-align:center;
}
#modal-compressing-list .item .status-wrapper .progress{
    height: 20px;
    position:relative;
    width:132px;
    display:inline-block;
    vertical-align:top;
}
#modal-compressing-list .item .status-wrapper .btn-wrapper{
    display:inline-block;
    vertical-align:top;
    height:20px;
    margin-left:5px;
}
#modal-compressing-list .item .status-wrapper .btn-wrapper a{
    cursor:pointer;
}
#modal-compressing-list .item .status-wrapper .btn-cancel{
    color:#aaa;
}
#modal-compressing-list .item .status-wrapper .btn-cancel:hover{
    color:#808080;
}
#modal-compressing-list .item .status-wrapper .btn-retry{
    color:#aaa;
}
#modal-compressing-list .item .status-wrapper .btn-retry:hover{
    color:#808080;
}
#modal-compressing-list .item .status-wrapper i{
    font-size:16px;
    line-height:20px;
}
#modal-compressing-list .item .status-wrapper .status{
    line-height:20px;
    font-size:10px;
    text-align:center;
    position:absolute;
    margin:0 auto;
    height:20px;
    width:132px;
}
#modal-compressing-list .item .status-wrapper .status-inverse-wrapper {
    overflow:hidden; 
    width:100%;
    position:absolute;
    height:20px;
}
#modal-compressing-list .item .status-wrapper .status-inverse-wrapper .status {
    color:white;
}
#modal-sending-list .modal-dialog{
    width:700px;
}
#modal-sending-list .items {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    width:100%;
    font-size:12px;
    table-layout:fixed;
}
#modal-sending-list .items-wrapper{
    max-height:400px;
    overflow:auto;
    margin-top:10px;
}
#modal-sending-list .item.finished{
    background:#DFF0D8;
}
#modal-sending-list .item.finished .status-wrapper{
    color:#468847;
}
#modal-sending-list .item.cancelled .status-wrapper i,
#modal-sending-list .item.finished .status-wrapper i {
    margin-right:5px;
    vertical-align:middle;
}
#modal-sending-list .item.cancelled .status-wrapper .text,
#modal-sending-list .item.finished .status-wrapper .text {
    display:inline-block; 
    margin-top:2px;
    vertical-align:middle;
}
#modal-sending-list .item.failed{
    background:#F2DFDF;
}
#modal-sending-list .item.cancelled{
    opacity:0.5;
}
#modal-sending-list .item td{
    border-bottom: 1px solid #ccc; 
    padding:5px 8px;
}
#modal-sending-list .item .peer {
    width:130px;
}
#modal-sending-list .item .peer .name{
    line-height:20px;
    overflow:hidden;
    width:105px;
    margin-left:25px;
}
#modal-sending-list .item .peer .icon{
    vertical-align:bottom;
    width:20px;
    height:20px;
    background-size:80px 80px;
    background-image:url("/static/images/ic_devices.png");
    float:left;
}
#modal-sending-list .item .peer .icon-phone{
    background-position:0 0;
}
#modal-sending-list .item .peer .icon-tablet{
    background-position:-20px 0;
}
#modal-sending-list .item .peer .icon-labtop{
    background-position:-40px 0;
}
#modal-sending-list .item .peer .icon-desktop{
    background-position:-60px 0;
}
#modal-sending-list .item .filename{
    width:160px;
}
#modal-sending-list .item .path{
    width:140px;
    cursor:pointer;
    color:#7fbdee;
}
#modal-sending-list .item .path:hover{
    text-decoration:underline;
}
#modal-sending-list .item .status-wrapper{
    height: 22px;
    line-height:20px;
    text-align:center;
}
#modal-sending-list .item .status-wrapper .progress{
    height: 20px;
    position:relative;
    width:132px;
    display:inline-block;
    vertical-align:top;
}
#modal-sending-list .item .status-wrapper .btn-wrapper{
    display:inline-block;
    vertical-align:top;
    height:20px;
    margin-left:5px;
}
#modal-sending-list .item .status-wrapper .btn-wrapper a{
    cursor:pointer;
}
#modal-sending-list .item .status-wrapper .btn-cancel{
    color:#aaa;
}
#modal-sending-list .item .status-wrapper .btn-cancel:hover{
    color:#808080;
}
#modal-sending-list .item .status-wrapper .btn-retry{
    color:#aaa;
}
#modal-sending-list .item .status-wrapper .btn-retry:hover{
    color:#808080;
}
#modal-sending-list .item .status-wrapper i{
    font-size:16px;
    line-height:20px;
}
#modal-sending-list .item .status-wrapper .status{
    line-height:20px;
    font-size:10px;
    text-align:center;
    position:absolute;
    margin:0 auto;
    height:20px;
    width:132px;
}
#modal-sending-list .item .status-wrapper .status-inverse-wrapper {
    overflow:hidden; 
    width:100%;
    position:absolute;
    height:20px;
}
#modal-sending-list .item .status-wrapper .status-inverse-wrapper .status {
    color:white;
}
#modal-connection-check {
    text-align:center;
}
#modal-connection-check .modal-content{
    padding: 15px;
}
#modal-connection-check i{
    font-size:34px;
}
#modal-connection-check .title{
    font-size:14px;
    line-height:22px;
    margin-top:10px;
}
#modal-connection-check .wheel{
    width:14px;
    height:14px;
    display:inline-block;
}
#modal-create-folder .modal-dialog{
    width:460px;
}
#modal-create-folder .description{
    margin-bottom:10px;
}
#modal-create-folder #create-folder-form{
    padding:10px 0;
}
#modal-create-folder #input-new-folder-name{
    width:100%;
}
#modal-file .modal-dialog{
    width:460px;
}
#modal-file .modal-body{
    padding:50px 30px;
    text-align:center;
}
#modal-file .file .icon{
    font-size:90px;
    margin-bottom:20px;
    color:#BDBDBD;
}
#modal-file .file .name{
    font-weight:bold;
    font-size:14px;
    width:300px;
    margin:0 auto;
}
#modal-file .file .actions{
    margin-top:20px;
}
#modal-file .actions .action{
    padding-left:10px;
    padding-right:10px;
    margin-left:5px;
}
#modal-file .actions .action:first-child{
    margin-left:0;
}
#modal-file .modal-preview-file.modal-dialog{
    width:800px;
}
#modal-file .modal-preview-file .modal-title{
    line-height:34px;
}
#modal-file .modal-preview-file .modal-header .actions{
    float:right;
    margin-right:10px;
}
#modal-file .modal-preview-file .modal-body{
    padding:0px;
    position:relative;
}
#modal-file .modal-preview-file .modal-body iframe{
    width:100%;
    height:100%;
    border:none;
}
#modal-file .modal-preview-file .modal-body .loader-wrapper { 
    height:100px;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    margin-top:-50px;
    text-align:center;
}
#modal-file .modal-preview-file .modal-body .loader-wrapper .failed-to-load-by-google{ 
    margin-top:5px;
    font-size:12px;
    line-height:1.6;
}
#modal-file .modal-preview-file .modal-body .loader-wrapper img.loader{ 
    width:40px;
    height:40px;
    display:inline-block;
}
#modal-image-preview {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}
#modal-image-preview .photo-wrapper{
    position:absolute;
    top:80px;
    bottom:80px;
    left:60px;
    right:60px;
    margin:auto;
    width:0;
    height:0;
}
#modal-image-preview .loader-window{
    position:absolute;
    top:80px;
    bottom:80px;
    left:60px;
    right:60px;
    margin:auto;
    height:40px;
    width:100px;
    text-align:center;
}
#modal-image-preview .photo-wrapper .btn-close{
    display:none;
    position:absolute;
    right:-35px;
    top:-35px;
    font-size:25px;
    color:white;
}
#modal-image-preview .photo{
    text-align:center;
    opacity: 0;
    position:relative;
}
#modal-image-preview .photo .loaded{
    width:auto;
    height:auto;
}
#modal-image-preview .photo .loader{
    line-height:40px;
}
#modal-image-preview .footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    color:white;
}
#modal-image-preview .footer .actions{
    float:right;
}
#modal-image-preview .footer .actions .action-wrapper{
    display:inline-block;
}
#modal-image-preview .footer .actions .action{
    font-size:14px;
    color:white;
    padding:0 10px;
}
#modal-image-preview .footer .name{
    font-size:13px; 
    color:white;
}
#modal-image-preview .shadow{
    background: #000000;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#dropdown .dropdown-item {
    position:fixed;
    padding:5px 0;
    background:white;
    border:1px solid #ccc;
    border-radius:3px;
    margin-top:7px;
    z-index:200;
}
#dropdown .dropdown-item:before {
    content: "";
    background-image: url("/static/images/ic_dropdown_arrow.png");
    width: 14px;
    height: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 5px;
    display: block;
    margin: -12px auto 0;
}
#noti-header #unsupported-browser {
    background: #FF4554;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#noti-header #unsupported-browser h1{
    font-weight:bold;
    font-size:16px;
    margin-bottom:5px;
}
#noti-header #unsupported-browser h3{
    font-size:12px;
}
#noti-header #unsupported-browser h3 a{
    color:#000;
    font-weight:bold;
}
#dropzone-indicator{
    position: fixed;
    top: 0;
    left: 0;
    border:6px solid #00d2ff;
    width: 100%;
    height: 100%;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display:none;
    z-index:500;
}
.droppable #dropzone-indicator{
    display:block;
}
#dropzone-indicator .box{
    position:fixed;
    top:70px;
    left: 50%;
    margin-left: -200px;
    width:400px;
    text-align:center;
    padding:10px;
    color:#0085a1;
    border:1px solid #00d2ff;
    background:#dcf8fe;
    border-radius:5px;
    font-size:14px;
}
.droppable.droppable-off #dropzone-indicator{
    border:6px solid #FF4554;
}
.droppable.droppable-off #dropzone-indicator .box{
    border:1px solid #FF4554;
    background:#F2DFDF;
    color:#FF4554;
}
.droppable #dropzone-indicator .title{
    font-weight:bold;
    margin-bottom:4px;
}
header {
    height:50px;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:20px;
    width:990px;
    z-index:1;
}

header .logo{
    float:left;
    width: 180px;
}
header .logo img{
    width:130px;
    height:30px;
}
header .logo .link-home {
    padding:10px 15px 10px 0;
    height:30px;
    cursor:pointer;
    display:block;
}
a {
    color: #7fbdee;
    cursor:pointer;
}

a:hover {
    text-decoration:none;
}

input {
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.page-holder{
    width:990px;
    margin:0 auto;
}

#filter {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    z-index:100;
    display:none;
}

.dark-filter{
    background:black;
    opacity:0.5;
}

.prevent-scroll {
    height:100%;
    overflow:hidden;
}

.btn {
    text-align:center;
    display:inline-block;
    padding:8px;
    background:#3572b0;
    color:white;
    font-size:14px;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration:none;
    border-radius:4px;
    border:1px solid #1c4977;
}

.btn .wheel{
    display:none;
    width: 14px;
    height:14px;
    vertical-align: middle;
}
.btn.progress .wheel{
    display:inline-block;
}

.btn-mini{
    padding:5px 8px;
    font-size:12px;
    font-weight:300;
}
.btn:hover {
    background:#4f86bd;
    text-decoration:none;
}
.btn:active {
    background: #1d5792;
}
.btn[disabled] {
    background: #1d5792;
    color: #aaa;
    cursor:default;
}
.btn-gray {
    background-color:#f5f5f5;
    color:#333;
    border:1px solid #ccc;
}
.btn-gray:hover{
    background:#fafafa;
}
.btn-gray:active{
    background:#eee;
}
.btn-gray[disabled] {
    background:#eee;
}
.btn-red {
    background-color:#f5f5f5;
    color:#333;
    border:1px solid #ccc;
}
.btn-red:hover{
    background-color:#FF4554;
    color:white;
    border-color:#d31a29;
}
.btn-red:active{
    background:#e01d2d;
    border-color:#d31a29;
    color:white;
}
.btn-red[disabled] {
    background:#eee;
}
.btn-green {
    background-color:#1ab141;
    color:white;
    border:1px solid #139a36;
}
.btn-green:hover{
    background:#41ce65;
}
.btn-green:active{
    background:#10882f;
}
.btn-green[disabled] {
    background:#eee;
}
#page-wrapper{
    position:relative;
    height:100%;
}
#page-default {
    display:none;
    min-height:700px;
}
#page-default  .nonauth-header .logo img{
    display:inline-block;
    width:130px;
    height:30px;
}
#page-default .page-holder{
    text-align:center; 
    padding-top:70px;
}
#page-default .page-holder img{
    width:240px;
    height:240px;
    margin-top:40px
}
#page-default .page-holder h1{
    font-size:34px;
    font-weight:bold;
}
#page-default .page-holder h2{
    font-size:20px;
    margin-top:10px; 
}
#page-signin {
    position: relative;
    min-height:700px;
}
#page-signin .signin-box{
    width: 350px;
    margin:150px auto 0;
}
#page-signin .link-reset-passwd {
    line-height:36px;
}
#page-change-passwd .change-passwd-box .box-header,
#page-reset-passwd .reset-passwd-box .box-header,
#page-signup .signup-box .box-header,
#page-signin .signin-box .box-header{
    position:relative;
}
#page-change-passwd h1,
#page-reset-passwd .input-content h1,
#page-signup h1,
#page-signin h1{
    line-height:20px;
    font-size:20px;
    font-weight:bold;
}
#page-change-passwd h3,
#page-reset-passwd .input-content h3,
#page-signup h3,
#page-signin h3{
    font-size:13px;
    text-align: right;
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#page-change-passwd #form-change-passwd,
#page-reset-passwd .input-content #form-reset-passwd,
#page-signup #form-signup,
#page-signin #form-signin {
    padding-top:20px;
}
#page-change-passwd .input-wrapper,
#page-reset-passwd .input-wrapper,
#page-signup .input-wrapper,
#page-signin .input-wrapper{
    padding-bottom:15px;
}
#page-change-passwd input:not([type='checkbox']),
#page-reset-passwd input:not([type='checkbox']),
#page-signup input:not([type='checkbox']),
#page-signin input:not([type='checkbox']) {
    padding:7px;
    width:100%;
    display:block;
    font-size:13px;
    border-radius:4px;
}
#page-change-passwd input[type='submit'],
#page-reset-passwd input[type='submit'],
#page-signin input[type='submit'],
#page-signup input[type='submit'] {
    position:absolute;
    left:-9999px;
}
#page-signup .btn-signup,
#page-signin .btn-signin {
    padding-right:20px;
    padding-left:20px;
    float:right;
}
#page-signup {
    min-height: 700px;
    position:relative;
}
#page-signup .signup-box {
    width: 350px;
    margin:100px auto 0;
}
#page-signup input[type='checkbox'] {
    display:inline;
    margin-right:5px;
    margin-top:5px;
}
#page-signup label {
    height:37px;
    line-height:37px;
    display:block;
    float:left;
}
#page-signup .btn-signup {
    margin-top:0;
    float:right;
}
#page-reset-passwd {
    position: relative;
    min-height: 700px;
}
#page-reset-passwd .helpline{
    margin-bottom:10px;
}
#page-reset-passwd .reset-passwd-box {
    width: 600px;
    margin:100px auto 0;
}
#page-reset-passwd input{
    width:350px;
}
#page-reset-passwd .btn-reset-passwd {
    padding-right:10px;
    padding-left:10px;
}
#page-reset-passwd .sent-content {
    text-align:center;
    padding-top:70px;
    text-align:center;
}
#page-reset-passwd .sent-content h1{
    font-size:30px;
    font-weight:bold;
}
#page-reset-passwd .sent-content .btn{
    padding-left:15px;
    padding-right:15px;
}
#page-reset-passwd .sent-content img.sent-image{
    width: 200px;
    height: 200px;
    display: block;
    margin: 40px auto 60px;
}
#page-change-passwd {
    position: relative;
    min-height: 700px;
}
#page-change-passwd .change-passwd-box{
    width:350px;
    margin:100px auto 0;
}
#page-nonauth-index .header-wrapper{
    background:#3572b0;
    color:white;
}
#page-nonauth-index header{
    border-bottom:none;
    text-align:left;
}
#page-nonauth-index header .ic-logo{
    background-image:url("/static/images/logo_254x60__white.png");
}
#page-nonauth-index header .nav-menus .nav-menu .name {
    color:white;
}
#page-nonauth-index .second-page{
    padding-top:40px;
    padding-bottom:40px;
}
#page-nonauth-index .third-page{
    padding-top:60px;
    padding-bottom:80px;
    border-top:1px solid #ccc;
}
#page-nonauth-index .third-page .page-header{
    text-align:center;
}
#page-nonauth-index .third-page .page-header h1{
    font-size:24px;
    color:#3572b0
}
#page-nonauth-index .third-page .page-header h2{
    font-size:16px;
    margin-top:12px;
    color:#848484
}
#page-nonauth-index .third-page .page-header img{
    width:80px;
    margin-top:20px;
}
#page-nonauth-index .third-page .downloads{
    text-align:center;
    margin-top:40px;
}
#page-nonauth-index .third-page .download-wrapper{
    display: inline-block;
    margin-right: 10px;
}
#page-nonauth-index .third-page .download-wrapper:last-child{
    margin-right:0;
}
#page-nonauth-index .third-page .download[disabled]{
    cursor:default;
}
#page-nonauth-index .content{
    background:white;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    width:900px;
    margin:0 auto;
}
#page-nonauth-index .content .icon{
    max-width:200px;
    float:left;
    vertical-align:top;
    margin-left:25px;
    margin-right:25px;
    display:inline-block;
}
#page-nonauth-index .content .icon img{
    width:100%;
}
#page-nonauth-index .content .rest{
    margin-left:25px;
    margin-right:25px;
    vertical-align:top;
    text-align:left;
    width:600px;
    float:left;
}
#page-nonauth-index .content:nth-child(odd) .rest,
#page-nonauth-index .content:nth-child(odd) .icon{
    float:left;
}
#page-nonauth-index .content:nth-child(even) .rest,
#page-nonauth-index .content:nth-child(even) .icon{
    float:right;
}
#page-nonauth-index .content .title{
    font-size:24px;
    color:#3572b0;
    font-weight:400;
}
#page-nonauth-index .content .description{
    margin-top:40px;
    font-size:14px;
    color:#848484;
    line-height:34px;
}
#page-nonauth-index .video-wrapper{
    position:fixed;
    top:50%;
    left:50%;
    width:750px;
    height:500px;
    margin-top:-250px;
    margin-left:-375px;
    display:none;
    z-index:200;
    padding-top:25px;
    background:black;
}
#page-nonauth-index .video-wrapper iframe{
    border:none;
}
#page-nonauth-index .video-wrapper #demo-video-holder{
}
#page-nonauth-index .video-wrapper .btn-close-video{
    position:absolute;
    top:5px;
    right:5px;
    font-size:14px;
    font-weight:300;
    line-height:15px;
    color:white;
}
#page-nonauth-index .main-page{
    text-align:center;
    background:#3572b0;
    color:white;
    position:relative;
}
#page-nonauth-index .main-page .contents{
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
}
#page-nonauth-index .main-page .btn{
    border:1px solid white;
}
#page-nonauth-index .main-page .ic-logo-lg{
    width:300px;
    height:71px;
}
#page-nonauth-index .main-page .promote{
    padding-top:20px;
    padding-bottom:20px;
}
#page-nonauth-index .main-page .promote .logo{
    display:none;

}
#page-nonauth-index .main-page .promote .logo .ic-logo-lg-inverse{
    width:200px;
    height:54px;
    margin-bottom:5px;
}
#page-nonauth-index .main-page .holder{
    width:980px;
    margin:30px auto 0;
}
#page-nonauth-index .main-page .left{
    float:left;
    width:430px;
    margin-right:50px;
    text-align:center;
}
#page-nonauth-index .main-page .right{
    float:right;
    width:500px;
}
#page-nonauth-index .main-page .right.right-beta{
    padding-top:30px;
}
#page-nonauth-index .main-page h1{
    font-size:50px;
    font-weight:400;
}
#page-nonauth-index .main-page h2{
    font-weight:300;
    font-size:24px;
    margin-top:20px;
}
#page-nonauth-index .main-page .ic-logo-inverse{
    width:300px;
    height:80px;
    display:block;
    margin:0 auto 50px;
}
#page-nonauth-index .main-page .product-image{
    position:relative;
    max-width:560px;
    margin:0 auto;
}
#page-nonauth-index .main-page .product-image .btn-show-video{
    display:block;
    cursor:pointer;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
    height:100px;
    width:100px;
}
#page-nonauth-index .main-page .product-image img{
    width:100%;
}
#page-nonauth-index .main-page .demo-video{
    margin-top:20px;
}
#page-nonauth-index .main-page .demo-video .btn-show-demo-video{
    font-size:16px;
    font-weight:bold;
}
#page-nonauth-index .main-page .downloads{
    margin-top:30px;
}
#page-nonauth-index .main-page .screenshot{
    width:80%;
    margin:30px auto 0;
}
#page-nonauth-index .main-page .screenshot img{
    width:100%;
}

#page-nonauth-index .main-page .download-wrapper{
    display: inline-block;
    margin-right: 5px;
}
#page-nonauth-index .main-page .download[disabled]{
    cursor:default;
}
#page-nonauth-index .main-page .action-wrapper {
    margin:120px auto 0;
}
#page-nonauth-index .main-page .right.right-beta .action-wrapper {
    margin-top:70px;
}
#page-nonauth-index .main-page .action-beta-register{
}
#page-nonauth-index .main-page .action-beta-register h4{
    font-size: 16px;
    margin-bottom: 5px;
}
#page-nonauth-index .main-page .action-beta-register h5{
    font-size:12px;
    font-weight:300;
    color: #A9A9A9;
    margin-bottom: 15px;
}
#page-nonauth-index .main-page .action-beta-register #input-beta-register-email{
    width:200px;
    display:inline-block;
    padding:10px;
    height:39px;
    line-height:19px;
}
#page-nonauth-index .main-page .action-beta-register .btn-beta-register{
    line-height:19px;
    vertical-align: bottom; 
}
#page-nonauth-index .main-page .action-signin {
    margin-top: 20px;
    font-size: 14px;
}
#page-nonauth-index .main-page .action-signup {
}
#page-nonauth-index .main-page .action-signin .link-signin{
    font-weight:bold;
}
#page-nonauth-index .main-page .btn-signup {
    display:block;
    width: 260px;
    margin: 0 auto;
}
#page-nonauth-index .footer {
    /*
    background-image:url("/static/images/footer_bg.png?v=126");
    background-repeat-x: repeat;
    background-position:0 0;
    */
    background:#3572b0;
    border-top:1px solid gray;
    height:150px;
    position:relative;
}
#page-nonauth-index .footer .copyright{
    width:400px;
    height:25px;
    position:absolute;
    left:50%;
    top:50%;
    line-height:25px;
    font-size:16px;
    text-align:center;
    margin-left:-200px;
    margin-top:-12px;
    color:#FCFCFC;
}
#page-nonauth-index .footer .copyright br{
    display:none;
}
#page-nonauth-index .footer .sns-menus{
    position:absolute;
    right:100px;
    top:50%;
    height:30px; 
    margin-top:-15px;
}
#page-nonauth-index .footer .sns-menus li{
    display:inline-block;
}
#page-nonauth-index .footer .sns-menus .menu{
    text-indent:-9999px;
    display:inline-block;
    background-image:url("/static/images/ic_snsmenus.png");
    background-position:0 0;
    background-size:90px 60px;
    width:30px;
    height:30px;
    margin-left:8px;
}
#page-nonauth-index .footer .sns-menus .facebook{
    background-position:0 0px;
    margin-left:0;
}
#page-nonauth-index .footer .sns-menus .facebook:hover{
    background-position:0 -30px;
}
#page-nonauth-index .footer .sns-menus .blog{
    background-position:-30px 0;
    cursor:default;
}
#page-nonauth-index .footer .sns-menus .email{
    background-position:-60px 0;
}
#page-nonauth-index .footer .sns-menus .email:hover{
    background-position:-60px -30px;
}
#dropdown #dropdown-account{
    font-size:14px;
    width: 160px;
    color:#415061;
}
#dropdown #dropdown-account .account-label{
    font-weight:900;
    padding:5px 10px 0px 10px;
    font-size:12px;
}
#dropdown #dropdown-account .email{
    color:#707070;
    font-size:12px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
}
#dropdown #dropdown-account  .menus{
    margin-top:10px;
    border-top:1px solid #ccc;
    padding-top:5px;
}
#dropdown #dropdown-account  .menus .menu{
    padding:5px 10px;
    font-size:12px;
    color: #333;
    display:block;
}
#dropdown #dropdown-account  .menus .menu.selected{
    background: #cccccc;
}
#dropdown #dropdown-account  .menus .menu:hover{
    background:#3572b0;
    color:white;
}
#dropdown #dropdown-account  .menus .menu .glyphicons{
    margin-right:5px;
    color:#808080;
}
#dropdown #dropdown-account  .menus .menu:hover .glyphicons{
    color:white;
}

header {
    border-bottom: 1px solid #ccc;
}
header .logo{
    float:left;
}
#auth-header .device-select-menu {
    float:left;
}
#auth-header .account-menu {
    position:relative;
    float:right;
}
#auth-header .account-menu .account {
    display:inline-block;
    cursor:pointer;
    min-width:100px;
    margin:15px 0 15px 15px;
    line-height:20px;
    text-align:right;
    border-right:none;
}
#auth-header .account-menu .account:hover{
    text-decoration:underline;
}
#auth-header .account-menu .account:hover .ic{
    background-position:0 -5px;
}
header .app-status-text {
    float: right;
    width: 330px;
    height: 50px;
    line-height: 50px;
    text-align:right;
    font-size: 12px;
    margin-right: 20px;
    font-style: italic;
}
header .app-status-text img{
    width:16px;
    height:16px;
    vertical-align:middle;
}
header .nav-menus {
    float:left;
}
header .right-nav-menus{
    float:right;
}
header .nav-menus .nav-menu{
    float:left;
}
header .nav-menus .nav-menu .name{
    display:block;
    padding:15px;
    height:20px;
    line-height:20px;
}
header .nav-menus .nav-menu .name:hover{
    text-decoration:underline;
}
header .nav-menus .nav-menu.selected{
}
header .nav-menus .nav-menu .new{
    background: #FF4554;
    color: white;
    border-radius: 20px;
    padding: 1px 3px;
    display: none;
    min-width: 18px;
    font-size: 12px;
    text-align: center;
    padding: 2px 5px;
    margin-left: 5px;
}
.page-device {
    min-height:100%;
    background:white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#page-how-to-use header,
#page-download header, 
.page-device header{
    border-bottom:none;
}
.page-device header{
    position:fixed;
    background:white;
}
.page-device .page-contents{
    padding-top:80px;
}
.page-device #directory-selector{
    border:1px solid #5593d1; 
    position:absolute;
    z-index:1;
    border-radius:2px;
}
.page-device #directory-selector .inner{
    background:#89baed;
    width:100%;
    height:100%;
    opacity:0.15;
}
.page-device .empty-view {
    text-align:center; 
    display:none;
}
.page-device .empty-view h1{
    margin-top:75px;
    font-size:30px;
    font-weight:bold;
}
.page-device .empty-view h2{
    margin-top:25px;
    font-size: 18px;
    color:#aaa;
    font-weight: 300;
    line-height:30px;
}
.page-device .empty-view .download-single{
margin: 45px auto 0;
height:65px;
display:inline-block;
background:#7780c1;
cursor:pointer;
}
.page-device .empty-view .download-single .ic-wrapper{
background:#6a73b3;
display:inline-block;
height:30px;
padding:17px 20px;
vertical-align:top;
}
.page-device .empty-view .download-single .ic-wrapper i{
font-size:30px;
display:block;
color:white;
}
.page-device .empty-view .download-single .text{
display:inline-block;
padding:12px 20px;
font-size:20px;
color:white;
line-height:40px;
vertical-align:top;
}
.page-device .empty-view .other-clients{
    margin-top:40px;
    padding-bottom:20px;
}
.page-device .empty-view .other-clients h3{
    font-size:16px;
    color:#aaa;
    font-weight: 300;
}
.page-device .empty-view .download-wrapper{
    display: inline-block;
    margin-right: 5px;
    margin-top:15px;
}
.page-device .empty-view .download[disabled]{
    cursor:default;
}
.page-device .device-select-menu{
    position:relative;
    width:220px;
    margin-left:10px;
}
.page-device .device-select-menu .selected-device{
    margin-top:3px;
}
.page-device .device-select-menu .selected-device:hover{
    background:#f5f5f5; 
}
.page-device .device-select-menu .selected-device .carrot{
    float:right;
    line-height:34px;
    padding-right:5px;
}
.page-device .device-select-menu .selected-device:hover .carrot .ic-gray-carrot{
    background-position:0 -5px; 
}
.page-device .selected-item-menus-placeholder {
    height:25px;
    overflow:hidden;
    position:relative;
    margin-top:10px;
}
.page-device .collection-columns{
    height:20px;
}
.page-device .collection-columns .column {
    float:left;
}
.page-device .selected-item-menus-wrapper {
    height:20px;
    display:none;
    line-height:20px;
}
.page-device .selected-item-menus-wrapper .filename{
    display:inline-block;
    max-width:250px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    vertical-align:middle;
}
.page-device .selected-item-menus-wrapper .selected-item-menus{
    vertical-align:middle;
    display:inline-block;
    margin-left:5px;
}
.page-device .selected-item-menus-wrapper .selected-item-menus .menu{
    display:inline-block;
    margin-left:15px;
    color:#7fbdee;
    cursor:pointer
}
.page-device .selected-item-menus-wrapper .selected-item-menus .menu i{
    color:#808080;
}
.page-device .selected-item-menus-wrapper .selected-item-menus .menu:hover{
    text-decoration:underline;
}
.page-device .selected-item-menus-wrapper .device-turn-off{
    display:inline-block;
    margin-left:10px;
    color:#FF4554;
    vertical-align:middle;
}
.page-device .collection-contents .no-item{
    color: #97a1ae;
    font-style: italic;
    padding: 15px 10px;
}
.page-device .collection-contents .item{
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    border-bottom:1px solid #eee;
}
.page-device .collection-contents .item-set .item{
    display:none;
}
.page-device .collection-contents .item-set.visible .item{
    display:block; 
}
.page-device .collection-contents .item.nonselectable{
    opacity:0.4;
}
.page-device .collection-contents .item.nonselectable:hover {
    background:transparent;
}
.page-device .collection-contents .item.temp-selected,
.page-device .collection-contents .item.temp-selected:hover,
.page-device .collection-contents .item.temp-selected:active,
.page-device .collection-contents .item.selected,
.page-device .collection-contents .item.selected:hover,
.page-device .collection-contents .item.selected:active {
    background:#cee2f7;
}
.page-device .collection-contents .item .open-link{
    color:#333;
}
.page-device .collection-contents .item .open-link:hover{
    text-decoration:underline;
}
.page-device .collection-contents .item:hover{
    background:#f5f5f5;
}
.page-device .collection-contents .item .icon{
    cursor:pointer;
}
.page-device .collection-contents .item .icon img{
    width:100%;
    height:100%;
}
#page-documents .collection-contents .item .icon{
    width:34px; 
    height:34px;
    float:left;
    background-image:url("/static/images/ic_file.png");
    background-size:cover;
}
#page-documents .collection-contents .item .name{
    width:450px;
    float:left;
    margin:5px 10px;
    line-height:24px;
    color:#333;
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#page-documents .collection-contents .item .kind{
    width:90px; 
    float:left;
}
#page-documents .collection-contents .item .modified-at,
#page-documents .collection-contents .item .kind{
    margin:5px 0px 5px 10px;
    line-height:24px;
    color:#aaa;
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#page-documents .collection-columns .column-name{
    width:470px;
    padding-left:44px;
}
#page-documents .collection-columns .column-kind{
    width:90px;
}
#page-videos .collection-contents .item .icon{
    float:left; 
    width:74px;
    height:74px;
}
#page-videos .collection-contents .item .name {
    float:left;
    width:428px;
    margin:25px 10px;
    line-height:24px;
    color:#333;
    font-size:13px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#page-videos .collection-contents .item .modified-at,
#page-videos .collection-contents .item .kind {
    float:left;
    margin:25px 10px 25px 0;
    color:#aaa;
    font-size:13px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#page-videos .collection-contents .item .kind {
    width:100px;
}
#page-videos .collection-contents .item .modified-at{
    float:none;
}
#page-videos .collection-columns .column-name{
    padding-left: 84px;
    width: 438px;
}
#page-videos .collection-columns .column-kind{
    width:110px;
}
#page-music .collection-contents .item .icon {
    float:left;
    width:34px;
    height:34px;
}
#page-music .collection-contents .item .name {
    float:left;
    width:332px;
    margin:5px 10px;
    line-height:24px;
    color:#333;
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
#page-music .collection-contents .item .artist,
#page-music .collection-contents .item .album,
#page-music .collection-contents .item .time{
    color:#aaa;
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    float:left;
    line-height: 24px;
    padding: 5px 0;
}
#page-music .collection-columns .column-name{
    width:332px;
    padding-right:10px;
    color:#707070;
    padding-left:44px;
}
#page-music .collection-contents .item .time,
#page-music .collection-columns .column-time{
    width:80px;
}
#page-music .collection-contents .item .artist,
#page-music .collection-columns .column-artist{
    width:145px;
}
#page-music .collection-contents .item .album,
#page-music .collection-columns .column-album{
    float:none;
    margin-left:571px;
}
.page-device .collection-columns a{
    font-size:12px;
    font-weight:bold;
    color:#ccc;
    display:inline-block;
}
.page-device .collection-columns a:hover{
    color:#707070;
}
.page-device .collection-columns .orderable[data-orderby]:after{
    content:"";
    width:8px;
    height:5px;
    background-image:url("/static/images/ic_gray_carrot2.png");
    background-repeat: no-repeat;
    margin-left:3px;
    display:inline-block;
    margin-bottom:1px;
}
.page-device .collection-columns .orderable[data-orderby='asc']:after{
    background-position:0 -10px;
}
.page-device .collection-columns .orderable[data-orderby='asc']:hover:after{
    background-position:0 -15px;
}
.page-device .collection-columns .orderable[data-orderby='desc']:after{
    background-position:0 0px;
}
.page-device .collection-columns .orderable[data-orderby='desc']:hover:after{
    background-position:0 -5px;
}
#dropdown-device .devices-type{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    padding-bottom: 4px;
    padding-top: 8px;
}
#dropdown-device .no-devices{
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    color: #cccccc;
    font-style: italic;
    font-size:12px;
}
#dropdown-device .divider{
    border-bottom:1px solid #ccc;
}
#dropdown-device .device-wrapper{
}
#dropdown-device .device-wrapper:last-child{
    margin-right:0;
}
.page-device .device-select-menu .device,
#dropdown-device .device{
    color:#415061;
    font-weight:bold;
    display:block;
    padding:5px;
    font-size:14px;
    cursor:pointer;
}
.page-device .device-select-menu .device .icon,
#dropdown-device .device .icon{
    height:34px;
    width:34px;
    float:left;
    background-size:136px 136px;
    background-image:url("/static/images/ic_devices.png");
}
.page-device .device-select-menu .device .icon-phone,
#dropdown-device .device .icon-phone{
    background-position:0 0;
}
#dropdown-device .device:hover .icon-phone{
    background-position:0 -102px;
}
.page-device .device-select-menu .device .icon-phone-off,
#dropdown-device .device .icon-phone-off{
    background-position:0 -68px;
}
#dropdown-device .device:hover .icon-phone-off{
    background-position:0 -102px;
}
.page-device .device-select-menu .device .icon-tablet,
#dropdown-device .device .icon-tablet{
    background-position:-34px 0;
}
#dropdown-device .device:hover .icon-tablet{
    background-position:-34px -102px;
}
.page-device .device-select-menu .device .icon-tablet-off,
#dropdown-device .device .icon-tablet-off{
    background-position:-34px -68px;
}
#dropdown-device .device:hover .icon-tablet-off{
    background-position:-34px -102px;
}
.page-device .device-select-menu .device .icon-labtop,
#dropdown-device .device .icon-labtop{
    background-position:-68px 0;
}
#dropdown-device .device:hover .icon-labtop{
    background-position:-68px -102px;
}
.page-device .device-select-menu .device .icon-labtop-off,
#dropdown-device .device .icon-labtop-off{
    background-position:-68px -68px;
}
#dropdown-device .device:hover .icon-labtop-off{
    background-position:-68px -102px;
}
.page-device .device-select-menu .device .icon-desktop,
#dropdown-device .device .icon-desktop{
    background-position:-102px 0;
}
#dropdown-device .device:hover .icon-desktop{
    background-position:-102px -102px;
}
.page-device .device-select-menu .device .icon-desktop-off,
#dropdown-device .device .icon-desktop-off{
    background-position:-102px -68px;
}
#dropdown-device .device:hover .icon-desktop-off{
    background-position:-102px -102px;
}
.page-device .device-select-menu .device .name,
#dropdown-device .device .name{
    line-height:14px;
    padding:0 10px;
    margin-left:34px;
    display:table-cell;
    vertical-align:middle;
    height:34px;
}
#dropdown-device .off-devices .device .name {
    color:#808080;
}
#dropdown-device .device.selected {
    background: #cccccc;
}
#dropdown-device .device:hover {
    background: #3572b0;
}
#dropdown-device .device:hover .name{
    color:white;
}
#dropdown-device.dropdown-item{
    width:230px;
    margin-left:-6px;
    padding-top:0;
}
#dropdown-device.dropdown-item:before{
    padding-top:0;
    margin-top:-7px;
}
#dropdown-device .device{
    padding-left:10px;
    padding-right:10px;
}
#dropdown-device .link-download-wrapper { 
    padding: 10px 5px 5px;
    text-align:center;
}
#dropdown-device .link-download-wrapper i{ 
    margin-right:3px;
}
#dropdown-device .link-download{ 
    font-size:13px;
}
.page-device #device-subviews {
    background:white;
}
.page-device #device-subviews #loading-indicator{
    display:none;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
}
.page-device #device-subviews #loading-indicator img{
    width:30px;
    height:30px;
}
.page-device #device-subviews #loading-indicator .text{
    text-align:center;
    color:#97a1ae;
    margin-top:10px;
}
.page-device #device-subviews #load-failure{
    text-align:center;
}
.page-device #device-subviews #load-failure h1{
    margin-top:60px;
    font-size:34px;
    font-weight:bold;
}
.page-device #device-subviews #load-failure h3{
    font-size:20px;
    margin-top:20px;
}
.page-device #device-subviews #load-failure .loader{
    margin-top:40px;
}
.page-device #device-subviews #load-failure .loader img{
    width:40px;
}

.page-device #device-menus-wrapper{
    position:fixed;
    width:180px;
}
.page-device #device-menus{
    padding-bottom:10px;
}
.page-device #device-menus .divider{
    height:40px;
}
.page-device #device-menus .device-menu-wrapper{
    margin-bottom:15px;
    padding-left:5px;
}
.page-device #device-menus .device-menu{
    font-size:14px;
    cursor:pointer;
}
.page-device #device-menus .device-menu:hover{
    text-decoration:none;
}
.page-device #device-menus .device-menu .icon{
    margin-right:5px;
    font-size:14px;
    display:inline-block;
    height:17px;
    vertical-align:middle;
    color:#808080;
}
.page-device #device-menus .device-menu .name {
    display:inline-block;
    vertical-align:middle;
    font-size:13px;
    padding-top:2px;
}
.page-device #device-menus .device-menu.selected{
    font-weight:bold;
    color:#415061;
    cursor:default;
}
.page-device #device-content-wrapper {
    display:none;
}
.page-device #device-content {
    margin-left:190px;
    overflow:hidden;
}
.page-device #device-content .fixed-container {
    position:fixed;
    width:800px;
    z-index:1;
    background:white;
    border-bottom: 2px solid #ccc;
}
.page-device #device-content .scroll-container {
    display:none;
}
.page-device #device-content h1{
    font-weight:bold;
    padding-bottom:25px;
}
.page-device #device-content h1 i{
    font-size:20px;
    vertical-align:middle;
    margin-top:-2px;
}
.page-device #device-content h1 .text{
    font-size:18px;
    vertical-align:middle;
    margin-left:5px;
}
.page-device #device-content .btn-show-uploader {
    line-height:12px;
    vertical-align:middle;
    margin-top: -2px;
}
.page-device #device-content .actions {
    float:right;
}
.page-device #device-content .action-wrapper{
    float:left;
    margin-left:5px;
}
.page-device #device-content .action{
    padding: 5px;
}
.page-device #device-content .action i{
    font-size:18px;
    vertical-align:middle;
}
.page-device #device-content .action .text{
    vertical-align:middle;
}
.page-device #device-content .failed-to-load-meta{
    margin-top:2px;
    margin-bottom:5px;
    color:#FF4554;
}
.page-device #device-content .loading-contents img{
    width:14px;
    height:14px;
    vertical-align:middle;
    margin-right:5px;
}
.page-device #device-content .loading-contents .text{
    vertical-align: middle;
    line-height: 20px;
    color: #808080;
}
#page-photo-album #device-content .fixed-container{
    border-bottom:0;
}
#page-photo-album #device-content h2{
    font-size:18px;
    font-weight:bold;
    margin-bottom:3px;
}
#page-photo-album #device-content h3{
    font-size:13px;
    color:#aaa;
}
#page-photo-album #device-content h3.photos-count{
    margin-top:2px;
    margin-bottom:5px;
}
#page-photo-album #photo-group:first-child{
    padding-top:10px;
}
#page-photo-album .photo-group{
    padding-bottom:50px; 
}
#page-photo-album .photo-group .date{
    font-size:15px;
    font-weight:bold;
    color:#808080;
    padding-bottom:30px;
}
#page-photo-album .photo-group .photo-wrapper{
    display:block;
    float:left;
    width:156px;
    margin-right:5px;
    margin-bottom:5px;
}
#page-photo-album .photo-group .photo-wrapper:nth-child(5n){
    margin-right:0;
}
#page-photo-album .photo-group .photo{
    cursor:pointer;
    display:block;
    position:relative;
    border:1px solid #ccc;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#page-photo-album .photo-group .item-set .photo{
    display:none; 
}
#page-photo-album .photo-group .item-set.visible .photo{
    display:block;
}
#page-photo-album .photo-group .photo.nonselectable{
    opacity:0.4;
}
#page-photo-album .photo-group .photo.selected::after{
    font-size:24px; 
    content: "\E207";
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#3c9dff;
    padding-top: 4px;
    padding-right: 4px;
    text-align: right;

    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border:8px solid #3c9dff;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#page-photo-album .photo-group .photo.temp-selected::after{
    content: "";
    display: inline-block;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border:8px solid #808080;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#page-photo-album .photo-group .photo .thumb{
    width:154px;
    height:154px;
    background-image:url("/static/images/img_default_album.png");
    background-size:cover;
}
#page-photo-album .photo-group .photo .thumb img{
    width:100%;
    height:100%;
    display:block;
}
#page-photo-album .photo-group .photo .label{
    display:none;
    position:absolute;
    bottom:0;
    padding:10px 8px 8px;
    color:white;
    width:154px;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 85%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 85%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
#page-photo-album .photo-group .photo .label .name{
    margin-bottom:3px;
}
#page-photo-album .photo-group .photo .label .meta-date,
#page-photo-album .photo-group .photo .label .name{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color:white;
    text-align:right;
    font-size:11px;
    width: 138px;
}
#page-photo-album #nav-photo-groups-placeholder{
    position:fixed;
    right:0;
    top:0;
    height:100%;
    width:160px;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#page-photo-album #nav-photo-groups{
    display:none;
    opacity:0;
    position:fixed;
    z-index:10;
}
#page-photo-album #nav-photo-groups .nav-photo-group-wrapper{
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position:fixed;
    right:0;
    top:0;
    z-index:1;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    background:white;
    opacity:0.8;
}
#page-photo-album #nav-photo-groups .nav-photo-group{
    cursor:pointer;
    display:inline-block;
    color:#333;
    padding: 5px 15px 5px 10px;
    text-align: right;
    font-size: 13px;
    line-height:15px;
}
#page-photo-album #nav-photo-groups .nav-photo-group:hover{
    color:#000;
}
#page-photo-album #nav-photo-groups .nav-photo-group.selected{
    color:#000;
}
#page-photos #device-content .fixed-container{
    padding-bottom:20px;
    border-bottom:0;
}
#page-photos .album-wrapper{
    display:block;
    float:left;
    width:156px;
    margin-right:5px;
    margin-bottom:5px;
    border:1px solid #ccc;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
}
#page-photos .album-wrapper:nth-child(5n){
    margin-right:0;
}
#page-photos .album{
    display:block;
    cursor:pointer;
}
#page-photos .album.recently-modified .thumb::after{
    font-size:14px; 
    content: "NEW";
    display: inline-block;
    padding:5px;
    text-align: left;
    background:red;
    color:white;

    position:absolute;
    left:0;
    top:0;
}
#page-photos .album.temp-selected::after{
    font-size:24px; 
    content: "\E207";
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#3c9dff;
    padding-top: 4px;
    padding-right: 4px;
    text-align: right;

    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border:4px solid #3c9dff;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background:transparent;
}
#page-photos .album.nonselectable{
    opacity:0.4;
}
#page-photos .album .thumb{
    width:154px;
    height:154px;
    background-image:url("/static/images/img_default_album.png");
    background-size:cover;
}
#page-photos .album .thumb img{
    width:100%;
    height:100%;
    display:block;
}
#page-photos .album .label{
    padding:4px 8px;
}
#page-photos .album .name{
    font-size:13px;
    color:#3572b0;
    margin-bottom:2px;
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}
#page-photos .album .count{
    font-size:12px;
    color:#808080;
}
#page-directory #device-content .loading-contents{
    margin-top:10px;
}
#page-directory #device-content .path {
    font-size:16px;
    font-weight:bold;
    line-height:20px;
}
#page-directory #device-content .status-text {
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 30px;
    vertical-align:middle;
}
#page-directory #device-content .status-text img{
    line-height:20px;
    vertical-align:middle;
    height:16px;
    width:16px;
}
#page-directory #device-content .menus {
    float:right;
    height:30px;
}
#page-directory #device-content .menus .view-type-menus .menu{
    width:30px;
    height:30px;
    text-align:center;
    float:left;
    background:#eee;
    line-height:30px;
    cursor:pointer;
}
#page-directory #device-content .menus .view-type-menus .menu:first-child{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
#page-directory #device-content .menus .view-type-menus .menu:last-child{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
#page-directory #device-content .menus .view-type-menus .menu.selected{
    color:white;
    background:#3572b0;
    cursor:default;
}
#page-directory #dirmodels {
    position:relative;
}
#page-directory #dirmodels .empty-dir{
    color:#97a1ae;
    font-style:italic;
    padding: 15px 10px;
}
#page-directory .collection-contents .item{
    padding:8px 8px;
    height:32px;
    display:block;
    position:relative;
}
#page-directory #dirmodels.display-as-icon .item .open-link:hover{
    text-decoration:none;
}

#page-directory .collection-contents .item .name{
    height:32px;
    font-size:13px;
    line-height:32px;
    float:left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#333;
}
#page-directory .collection-contents .item .modified-at{
    height:32px;
    font-size:12px;
    line-height:32px;
    float:left;
    overflow: hidden;
    color:#aaa;
    display:none;
    margin-left:20px;
}
#page-directory .collection-contents .item:hover{
    background:#f5f5f5;
}
#page-directory .collection-contents .item.temp-selected,
#page-directory .collection-contents .item.selected{
    background:#cee2f7;
}
#page-directory .collection-contents .item .icon{
    width:32px;
    height:32px;
    float:left;
    margin-right: 10px;
    background-size:cover;
}
#page-directory .collection-contents .item .icon-folder {
    background-image:url("/static/images/ic_folder.png?v=1");
}
#page-directory .collection-contents .item .icon-video {
    background-image:url("/static/images/ic_video.png");
}
#page-directory .collection-contents .item .icon-photo {
    background-image:url("/static/images/ic_photo.png");
}
#page-directory .collection-contents .item .icon-file {
    background-image:url("/static/images/ic_file.png");
}
#page-directory #dirmodels.display-as-list .item .name{
    width:500px;
}
#page-directory #dirmodels.display-as-list .item .modified-at{
    display:block;
}
#page-directory #dirmodels.display-as-icon .item{
    padding:10px;
    height:auto;
    display:block;
    width:140px;
    margin-right:10px;
    margin-bottom:10px;
    position:relative;
    font-size:14px;
    float:left;
    border-bottom:none;
}
#page-directory #dirmodels.display-as-icon .item .name{
    height:16px;
    line-height:16px;
    float:none;
    margin-top:10px;
    text-align:center;
}
#page-directory #dirmodels.display-as-icon .item .icon{
    width:90px;
    height:90px;
    float:none;
    margin: 0 auto;
}
#page-directory .collection-contents .item.nonselectable{
    opacity:0.4;
}
#page-directory .collection-contents .item.nonselectable:hover{
    background:transparent;
}
#page-settings input[type='submit']{
    position:absolute;
    left:-9999px;
}
#page-settings .setting{
    margin-bottom:30px;
}
#page-settings .setting-name{
    font-size:14px;
    font-weight:bold;
    padding-bottom:5px;
    border-bottom:2px solid #ccc;
    margin-bottom:10px;
}
#page-settings #device-rename-form .input-device-name{
    font-size:13px;
    width:260px;
}
#page-settings #device-rename-form .footer {
    margin-top:5px;
}
#page-settings #device-rename-form .footer .btn{
    min-width:100px;
}
#page-settings .device-delete-setting .desc{
    color:#FF4554;
}
#page-settings .device-delete-setting .btn{
    margin-top:10px;
}
#page-notification #notifications {
    margin:0 auto;
    width:700px;
    padding-top:20px;
    padding-bottom:20px;
}
#page-notification #notifications .there-is-no-notification{
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    font-style:italic;
    color:#97a1ae;
}
#page-notification #notifications .notification{
    padding:20px;
    background:white;
    border-bottom:2px solid #fafafa;
}
#page-notification #notifications .notification .icon{
    width:80px;
    height:80px;
    float:left;
}
#page-notification #notifications .notification .icon img{
    width:100%;
    height:100%;
}
#page-notification #notifications .notification .rest{
    padding-top:3px;
    padding-left:100px;
}
#page-notification #notifications .notification .title{
    font-weight:bold;
    margin-bottom:5px;
    font-size:18px;
}
#page-notification #notifications .notification .text,
#page-notification #notifications .notification .sub-text{
    font-size:16px;
}
#page-notification #notifications .notification .arrived-at{
    margin-right:10px;
}
#page-notification #notifications .notification .device-name{
    font-weight:bold;
    color:#00d2ff;
}
#page-notification #notifications .notification .footer {
    margin-top:10px;
    font-size:13px;
}

.context-menu {
    min-width: 180px;
    border: 1px solid #ccc;
    position:absolute;
    border-radius:3px;
    z-index:500;
    padding-top:5px;
    padding-bottom:5px;
    background:white;
}
.context-menu .menu{
    padding:5px 10px;
    font-size:12px;
    cursor:pointer;
}
.context-menu .menu:hover{
    background:#3572b0;
    color:white;
}
.context-menu .menu i{
    font-size:16px;
    color:#707070;
    margin-right:5px;
}
.context-menu .menu:hover i{
    color:white;
}
.context-menu .menu .name{
    font-size:13px;
    display:inline-block;
    line-height:16px;
}

#context-menu-disconnected {
    border:1px solid #FF4554;
    background:#F2DFDF;
    color:#FF4554;
    font-size:12px;
    padding:5px 10px;
}
#minibar-holder {
    position:fixed;
    height:27px;
    bottom:0;
    right:20px;
    clear:both;
    *zoom: 1;
}
#minibar-holder:before,
#minibar-holder:after {
    display: table;
    content: "";
}
#minibar-holder:after {
    clear: both;
}
#minibar-holder .minibar {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    margin-left:20px;
    float:right;
    background:#3572b0;
    border:1px solid #1c4977;
    font-size:12px;
    margin-top:27px;
    display:none;
    border-bottom: none;
    overflow:hidden;
    width:260px;
    height:26px;
    color:white;
}
#minibar-compressing-list .header{
    padding:5px 8px;
    cursor:pointer;
}
#minibar-compressing-list .header:hover{
    background:#4f86bd;
}
#minibar-compressing-list .header .icon{
    float:left;
    width:12px;
    height:12px;
    padding:2px;
    margin-right:10px;
}
#minibar-compressing-list .header .icon img{
    height:100%;
}
#minibar-compressing-list .header > .status{
    line-height:16px;
    color:white;
    font-size:12px;
}
#minibar-compressing-list .header .detail-btn{
    float:right;
    line-height:16px;
    font-size: 12px;
    color:white;
}
#minibar-sending-list .header{
    padding:5px 8px;
    cursor:pointer;
}
#minibar-sending-list .header:hover{
    /*background:#4f86bd;*/
}
#minibar-sending-list .header .icon{
    float:left;
    width:12px;
    height:12px;
    padding:2px;
    margin-right:10px;
}
#minibar-sending-list .header .icon img{
    height:100%;
}
#minibar-sending-list .header > .status{
    line-height:16px;
    font-size:12px;
    color: white;
}
#minibar-sending-list .header .detail-btn{
    float:right;
    line-height:16px;
    font-size: 12px;
    color: white;
}
#page-download {
    background:#3572b0;
}
#page-download header .nav-menus .nav-menu .name {
    color:white;
}
#page-download header .nav-menus .nav-menu.selected .name{
    text-decoration:underline;
}
#page-download header .ic-logo{
    background-image:url("/static/images/logo_254x60__white.png");
}
#page-download .page-contents{
    padding-top:40px;
    padding-bottom:40px;
    width:100%;
}
#page-download .page-header{
    color:white;
    text-align:center;
}
#page-download .page-header h1{
    font-size:30px;
}
#page-download .page-header h2{
    font-size:20px;
    margin-top:15px;
}
#page-download .page-header img{
    width: 100px;
    margin-top: 50px;
}
#page-download .downloads-wrapper{
    text-align:center;
    margin-top:80px;
}
#page-download .downloads{
    
}
#page-download .downloads .download-wrapper{
    display:inline-block;
    margin-left:10px;
}
#page-download .downloads .download-wrapper a[disabled]{
    cursor:default;
}
#page-download .downloads .download-wrapper:first-child{
    margin-left:0;
    
}
#page-download .helpline{
    margin-top:40px;
    text-align:center;
    font-size:14px;
}
#page-download .helpline a{
    font-weight:bold;
}
#page-how-to-use {
    padding-bottom:20px;
}
#page-how-to-use .page-header{
    background: #9ed25f;
    height:320px;
    color:white;
    text-align:center;
}
#page-how-to-use .page-header h1{
    padding-top:40px;
    font-size:30px;
    font-weight:bold;
}
#page-how-to-use .page-header h2{
    font-size:24px;
    padding-top:10px;
}
#page-how-to-use .page-header img{
    height: 140px;
    margin-top: 40px;
}
#page-how-to-use .index-wrapper{
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-bottom:40px;
    max-width:1000px;
}
#page-how-to-use .index-wrapper h3{
    font-size:24px;
    font-weight:bold;
}
#page-how-to-use .index-wrapper ul{
    margin-top:40px;
    font-size:16px;
}
#page-how-to-use .index-wrapper ul li{
    margin-bottom:10px; 
}
#page-how-to-use .how-to-use-case {
    max-width:1000px;
    margin:0 auto;
    min-height:300px;
    text-align:center;
    border-top:1px solid #e8e8e8;
}
#page-how-to-use .how-to-use-case h4{
    font-size:22px;
    font-weight:bold;
    margin-top:40px;
    margin-bottom:60px;
}
#page-how-to-use .how-to-use-case .step{
    margin-bottom:80px;
}
#page-how-to-use .how-to-use-case .step-box{
    padding:10px 20px;
    color:white;
    font-weight:bold;
    font-size:18px;
    background:#9ed25f;
    display:inline-block;
    border-radius:5px;
}
#page-how-to-use .how-to-use-case .step-desc{
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;
}

#page-how-to-use #how-to-use-mac ul li{
    display:inline-block; 
    vertical-align:middle;
}
#page-how-to-use #how-to-use-mac ul .ic-arrow{
    margin-left:10px;
    margin-right:10px;
}
#page-how-to-use #how-to-use-android ul li{
    display:inline-block; 
    vertical-align:middle;
}
#page-how-to-use #how-to-use-android ul li{
    display:inline-block; 
    vertical-align:middle;
}
#page-how-to-use #how-to-use-android ul .image{
    width:150px;
}
#page-how-to-use #how-to-use-android ul .image img{
    width:100%;
}
#page-how-to-use #how-to-use-android ul .ic-arrow{
    margin-left:10px;
    margin-right:10px;
}

#page-account-settings header {
    border-bottom:none;
}
#page-account-settings h1{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
}
#page-account-settings h2{
    font-size:14px;
    font-weight:bold;
    color:#808080;
    padding-bottom:8px;
    border-bottom:2px solid #ccc;
}
#page-account-settings .setting{
    margin-top:40px;
}
#page-account-settings .setting .contents{
    margin-top:15px;
    line-height:25px;
    font-size:14px;
}
#page-account-settings .account-setting .name{
    font-weight:bold;
    color:#333;
    font-size:16px;
}
#page-broken {
    min-height:700px;
}
#page-broken .page-holder{
    text-align:center; 
    padding-top:70px;
}
#page-broken .page-holder img{
    width:240px;
    height:240px;
    margin-top:40px
}
#page-broken .page-holder h1{
    font-size:34px;
    font-weight:bold;
}
#page-broken .page-holder h2{
    font-size:20px;
    margin-top:10px; 
}
.tutorial-show {
    position:relative;
    background:white; 
    z-index:9999 !important;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@media screen and (max-width: 1024px){

    #page-reset-passwd .reset-passwd-box,
    #page-signin .signin-box ,
    #page-signup .signup-box {
        max-width:90%;
    }
    #page-reset-passwd header,
    #page-signin header,
    #page-signup header,
    #page-nonauth-index header{
        width:auto;
        padding-left:5%;
        padding-right:5%;
    }
    #page-reset-passwd .page-holder,
    #page-signup .page-holder,
    #page-signin .page-holder,
    #page-nonauth-index .page-holder{
        width:auto;
    }
    #page-nonauth-index .main-page .ic-logo-inverse{
        width:250px;
        height:64px;
    }
    #page-nonauth-index .main-page .holder{
        width:auto;
        padding-left:5%;
        padding-right:5%;
    }
    #page-nonauth-index .main-page .left{
        float:none;
        width:100%;
        margin-top:60px;
    }
    #page-nonauth-index .main-page .right{
        float:none;
        width:100%;
    }
    #page-nonauth-index .main-page .right{
        padding-top:0;
    }
    #page-nonauth-index .main-page .right.right-beta {
        padding-top:0;
    }
    #page-nonauth-index .main-page .action-wrapper {
        margin-top: 20px;
    }
    #page-nonauth-index .content .icon{
        margin-bottom:20px;
    }
    #page-nonauth-index .content .rest{
        display:block;
        width:auto;
        text-align:center;
    }
    #page-nonauth-index .content .description {
        font-size:14px;
        line-height:30px;
        margin-top:20px;
    }
    #page-nonauth-index .content {
        padding-left:5%;
        padding-right:5%;
        width:auto;
    }
    #page-nonauth-index .content:nth-child(odd) .rest,
    #page-nonauth-index .content:nth-child(odd) .icon{
        float:none;
    }
    #page-nonauth-index .content:nth-child(even) .rest,
    #page-nonauth-index .content:nth-child(even) .icon{
        float:none;
    }
    #page-nonauth-index .main-page h1 {
        font-size:36px;
    }
    #page-nonauth-index .main-page h2 {
        font-size:16px;
    }
    #page-nonauth-index .footer .sns-menus{
       right:50px; 
    }
    #page-nonauth-index .footer .copyright{
        width:320px;
        height:20px;
        margin-left:-160px;
        margin-top:-10px;
        font-size:14px;
        line-height:20px;
    }
}
@media screen and (max-width: 650px){
    #page-nonauth-index .content .description br{
        display:none;
    }
    #page-nonauth-index .content{
        padding-top:40px;
        padding-bottom:40px;
    }
    #page-nonauth-index .footer {
        height:auto;
        padding-top:20px;
        padding-bottom:20px;
    }
    #page-nonauth-index .footer .copyright{
        position:static;
        height:auto;
        left:auto;
        right:auto;
        top:auto;
        bottom:auto;
        margin:0 auto;
    }
    #page-nonauth-index .footer .sns-menus{
        position:static;
        left:auto;
        right:auto;
        top:auto;
        bottom:auto;
        margin:10px auto 0;
        text-align:center;
    }
}
@media screen and (max-width: 480px){
    #page-reset-passwd .reset-passwd-box,
    #page-signin .signin-box ,
    #page-signup .signup-box {
        margin-top:40px;
    }
    #page-reset-passwd .right-nav-menus,
    #page-signup header .right-nav-menus,
    #page-signin header .right-nav-menus {
        display:none;
    }
    #page-nonauth-index .main-page h1 {
        font-size:20px;
    }
    #page-nonauth-index .main-page h2 {
        display:none;
    }
    #page-nonauth-index .content .title {
        font-size:24px;
        line-height:1.6;
    }
    #page-nonauth-index .footer .sns-menus{
       right:20px; 
    }
    #page-nonauth-index .footer .copyright br{
        display:inline;
    }
    #page-nonauth-index header {
        display:none;
    }
    #page-nonauth-index .main-page .promote{
        padding-top:40px;
        padding-bottom:40px;
    }
    #page-nonauth-index .main-page .promote .logo{
        display:inline-block;
    }
    #page-nonauth-index .main-page .action-wrapper{
        margin-top:0;
    }
}


/* customize hopscotch lib */
div.hopscotch-bubble ,
div.hopscotch-bubble h3 ,
div.hopscotch-bubble .hopscotch-content {
    font-family: "Roboto", "NanumGothic", "나눔고딕", "Nanum Gothic", sans-serif, Dotum, arial !important;
}
div.hopscotch-bubble .hopscotch-nav-button {
    outline: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow:none !important;
}
div.hopscotch-bubble .hopscotch-nav-button:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button.next {
    border:1px solid #1c4977 !important;
    background:#3572b0 !important;
    text-shadow:none !important;
    filter: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    background:#4f86bd !important;
    filter: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button.next:active {
    background: #1d5792 !important;
}
div.hopscotch-bubble .hopscotch-nav-button.prev {
    background:#f5f5f5 !important;
    border:1px solid #ccc !important;
    color:#333 !important;
    text-shadow:none !important;
    filter: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button.prev:hover{  
    background:#fafafa !important;
    filter: none !important;
}
div.hopscotch-bubble .hopscotch-nav-button.prev:active{  
    background:#eee !important;
}
