<div class="footer">
    <div class="copyright">©Copyright 2015 Syncport. <br/>All Rights Reserved.</div>
    <ul class="sns-menus">
        <li><a class="menu facebook" href="https://www.facebook.com/syncport" target="_blank">facebook</a></li>
        <li><a class="menu email" href="mailto:contact@syncport.io">contact</a></li>
        <li><a class="menu blog">blog</a></li>
    </ul>
</div>
