<header id="nonauth-header" class="clearfix">
    <div class="logo header-menu">
        <a class="link-home">
            <i class="ic ic-logo">Syncport</i>
        </a>
    </div>
    <ul class="nav-menus right-nav-menus">
        <!--
        <% if (_context.path === "/how-to-use") { isSelected = true; } else { isSelected = false; } %>
        <li class="nav-menu nav-menu-download header-menu<% if (isSelected) { %> selected<% } %>">
            <% if (isSelected) { %>
                <span class="name">
                    <%=$sp.string("howtouse")%>
                </span>
            <% } else { %>
                <a class="link-how-to-use name">
                    <%=$sp.string("howtouse")%>
                </a>
            <% } %>
        </li>
        -->
        <% if (_context.path === "/download") { isSelected = true; } else { isSelected = false; } %>
        <li class="nav-menu nav-menu-download header-menu<% if (isSelected) { %> selected<% } %>">
            <% if (isSelected) { %>
                <span class="name">
                    <%=$sp.string("download")%>
                </span>
            <% } else { %>
                <a class="link-download name">
                    <%=$sp.string("download")%>
                </a>
            <% } %>
        </li>
        <% if (_context.path !== "/" && _context.path !== "/signup") { %>
            <% if (_context.path === "/signin") { isSelected = true; } else { isSelected = false; } %>
            <li class="nav-menu nav-menu-signin header-menu<% if (isSelected) { %> selected<% } %>">
                <% if (isSelected) { %>
                    <span class="name">
                        <%=$sp.string("signin")%>
                    </span>
                <% } else { %>
                    <a class="link-signin name">
                        <%=$sp.string("signin")%>
                    </a>
                <% } %>
            </li>
        <% } %>
    </ul>
</header>
