<header id = "auth-header" class="clearfix">
    <div class="logo">
        <a class="link-home">
            <i class="ic ic-logo">Syncport</i>
        </a>
    </div>
    <div class="account-menu">
        <% var _fullname = _context.account.lastName + " " + _context.account.firstName; %>
        <a class="account">
            <%= _fullname %>
            <i class="ic ic-gray-carrot"></i>
        </a>
    </div>
    <ul class="nav-menus right-nav-menus">
        <!--
        <% if (_context.path == "/how-to-use") { isSelected = true; } else { isSelected = false; } %>
        <li class="nav-menu nav-menu-download<% if (isSelected) { %> selected<% } %>">
            <% if (isSelected) { %>
                <span class="name">
                    <%=$sp.string("howtouse")%>
                </span>
            <% } else { %>
                <a class="link-how-to-use name">
                    <%=$sp.string("howtouse")%>
                </a>
            <% } %>
        </li>
        -->
        <% if (_context.path == "/download") { isSelected = true; } else { isSelected = false; } %>
        <li class="nav-menu nav-menu-download<% if (isSelected) { %> selected<% } %>">
            <% if (isSelected) { %>
                <span class="name">
                    <%=$sp.string("download")%>
                </span>
            <% } else { %>
                <a class="link-download name">
                    <%=$sp.string("download")%>
                </a>
            <% } %>
        </li>
    </ul>
</header>
