<script type="text/template" id="tmpl-page-nonauth-index">
<div class="video-wrapper">
    <div id="demo-video-holder">
        <div id="demo-video"></div>
    </div>
    <a class="btn-close-video">close</a>
</div>
<div class="main-page">
    <div class="header-wrapper">
        {% include "_header_nonauth.html" %}
    </div>
    <div class="contents">
        <div class="promote">
            <div class="logo">
                <i class="ic ic-logo-lg-inverse">Syncport</i>
            </div>
            <h1><%=$sp.string("main_title")%></h1>
            <h2><%=$sp.string("main_subtitle")%></h2>
        </div>
        <div class="holder clearfix">
            <div class="right{% if close_signup %} right-beta{% endif %}">
                <div class="action-wrapper">
                        <div class="action-signup">
                            <a class="btn btn-signup"><%=$sp.string("signup")%></a>
                        </div>
                        <div class="action-signin">
                            <%=$sp.string("or")%> <a class="link-signin"><%=$sp.string("signin")%></a>
                        </div>
                </div>
            </div>
            <div class="left">
                <div class="product-image">
                    <img src="/static/images/img_main_devices.png"/>
                </div>
                <div class="demo-video">
                    <% if ($sp.context.locale == 'ko_KR') { %>
                    <span>데모 영상을 보시려면 <a class="btn-show-demo-video">여기</a>를 클릭하세요.</span>
                    <% } else { %>
                    <span>If you want to watch a demo video, 
                    <a class="btn-show-demo-video">click here</a></span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="second-page page-holder">
    <div class="content clearfix">
        <div class="icon">
            <img src="/static/images/img_main01.png"/>
        </div>
        <div class="rest">
            <h3 class="title"><%=$sp.string("main_promo_1_title") %></h3>
            <div class="description">
                <%= $sp.string("main_promo_1_desc") %>
            </div>
        </div>
    </div>
    <div class="content clearfix">
        <div class="icon">
            <img src="/static/images/img_main02.png"/>
        </div>
        <div class="rest">
            <h3 class="title"><%=$sp.string("main_promo_2_title") %></h3>
            <div class="description">
                <%= $sp.string("main_promo_2_desc") %>
            </div>
        </div>
    </div>
    <div class="content clearfix">
        <div class="icon">
            <img src="/static/images/img_main03.png"/>
        </div>
        <div class="rest">
            <h3 class="title"><%= $sp.string("main_promo_3_title") %></h3>
            <div class="description">
                <%= $sp.string("main_promo_3_desc") %>
            </div>
        </div>
    </div>
</div>
<div class="third-page page-holder">
    <div class="page-header">
        <h1><%=$sp.string("client_download") %></h1>
        <h2><%=$sp.string("client_download_sub") %></h1>
        <img src="/static/images/img_download.png"/>
    </div>
    <div class="downloads-wrapper">
        <ul class="downloads" data-log-category="download">
            <li class="download-wrapper">
                <a href="https://play.google.com/store/apps/details?id=io.syncport" class="download download-android" data-log-click="android" target="_blank">
                    <i class="ic ic-down-android">android download</i>
                </a>
            </li>
            <li class="download-wrapper">
                <a class="download download-mac" href="#" disabled>
                    <i class="ic ic-down-mac">mac download</i>
                </a>
            </li>
            <li class="download-wrapper">
                <a class="download download-windows" href="#" disabled>
                    <i class="ic ic-down-windows">windows download</i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% include "_footer.html" %}
</script>
