<script type="text/template" id="tmpl-dropdown-account">
<div id="dropdown-account" class="dropdown-item">
    <% var _fullname = _context.account.lastName + " " + _context.account.firstName; %>
    <div class="account-label">ACCOUNT</div>
    <div class="email"><%= _context.account.email %></div>
    <ul class="menus">
        <li class="menu-wrapper">
            <a class="btn-account-settings menu menu-account-settings
                <% if (_context.path == "/settings") { %>
                selected
                <% }  %>">
                <i class="glyphicons glyphicons-settings"></i>
                <%=$sp.string("account_settings") %>
            </a>
        </li>
        <li class="menu-wrapper">
            <a class="btn-inquiry menu menu-inquiry">
                <i class="glyphicons glyphicons-envelope"></i>
                <%=$sp.string("feedback") %>
            </a>
        </li>
        <li class="menu-wrapper">
            <a class="btn-signout menu menu-signout">
                <i class="glyphicons glyphicons-exit"></i>
                <%=$sp.string("signout") %>
            </a>
        </li>
    </ul>
</div>
</script>

<script type="text/template" id="tmpl-page-broken">
<% if ($sp.context.account) { %>
    {% include "_header_auth.html" %}
<% } else { %>
    {% include "_header_nonauth.html" %}
<% } %>
<div class="page-holder">
    <h1><%=title %></h1>
    <h2><%=msg%></h2>
    <img src="/static/images/img_broken.png">
</div>
</script>

<script type="text/template" id="tmpl-modal-inquiry">
<div class="modal fade" id="modal-inquiry" tabindex="-1" role="dialog" aria-labelledby="modal-inquiry" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicons glyphicons-remove-2"></i>
                </a>
                <h4 class="modal-title"><%=$sp.string("feedback") %></h4>
            </div>
            <div class="error-prompt"></div>
            <div class="modal-body">
                <form id="inquiry-form">
                    <% if (_context.account) { %>
                        <input type="hidden" class="input-email" value="<%=_context.account.email %>">
                    <% } else { %>
                        <input type="text" class="input-email" placeholder="<%=$sp.string("feedback_sender") %>"/>
                    <% } %>
                    <input type="text" class="input-inquiry-subject" placeholder="<%=$sp.string("feedback_title")%>"/>
                    <textarea class="input-inquiry" placeholder="<%=$sp.string("feedback_contents")%>"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-gray" data-dismiss="modal"><%=$sp.string("close") %></a>
                <a class="btn btn-send-inquiry">
                    <span class="text"><%=$sp.string("send_feedback") %></span>
                    <img class="wheel" src="/static/images/loader.gif"/>
                </a>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-alert">
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="modal-alert" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicons glyphicons-remove-2"></i>
                </a>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
                <%= text %>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" data-dismiss="modal"><%=$sp.string("confirm")%></a>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-confirm">
<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicons glyphicons-remove-2"></i>
                </a>
                <h4 class="modal-title">
                    <%= title %>
                </h4>
            </div>
            <div class="modal-body">
                <%= text %>
            </div>
            <div class="modal-footer">
                <a class="btn btn-gray btn-close" data-dismiss="modal"><%=closeText%></a>
                <a class="btn btn-confirm"><%=confirmText %></a>
            </div>
        </div>
    </div>
</div>
</script>
