<script type="text/template" id="tmpl-page-signup">
<div class="page-holder">
    {% include "_header_nonauth.html" %}
    <div class="error-prompt"></div>
    <div class="signup-box">
        <div class="box-header">
            <h1><%=$sp.string("signup") %></h1>
            <h3><%=$sp.string("or") %> <a class="link-signin"><%= $sp.string("small_signin") %></a></h3>
        </div>
        <form id="form-signup">
            <div class="input-wrapper">
                <input id="input-firstname" type="text" placeholder="First name"/>
            </div>
            <div class="input-wrapper">
            <input id="input-lastname" type="text" placeholder="Last name"/>
            </div>
            <div class="input-wrapper">
            <input id="input-email" type="email" placeholder="Email"/>
            </div>
            <div class="input-wrapper">
            <input id="input-passwd" type="password" placeholder="Password"/>
            </div>
            <div class="form-footer clearfix">
                <input type="submit"/>
                <input id="input-agree-term" type="hidden" value="true" checked>
                <a class="btn btn-signup"><%=$sp.string("signup") %></a>
                <!--
                <% if ($sp.context.locale == "ko_KR") { %>
                    <label>
                        <input id="input-agree-term" type="checkbox" value="false">
                        <a href="http://<%=window.location.host %>/terms" target="_blank">Syncport 이용약관</a>에 동의합니다.
                    </label>
                    <a class="btn btn-signup"><%=$sp.string("signup") %></a>
                <% } else{ %>
                    <label>
                        <input id="input-agree-term" type="checkbox" value="false">
                        I agree to <a href="http://<%=window.location.host %>/terms" target="_blank">Syncport terms</a>.
                    </label>
                    <a class="btn btn-signup"><%=$sp.string("signup") %></a>
                <% } %>
                -->
            </div>
        </form>
    </div>
</div>
</script>
