<!-- Directory views --!>
<script type="text/template" id="tmpl-dir-list-section">
<div class="fixed-container">
    <ul class="actions clearfix">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader tooltip" data-path="<%=model.path%>"
                title="<%=$sp.string("context_menu__send_files")%>"
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
            </a>
        </li>
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-create-folder tooltip" data-path="<%=model.path%>"
                title="<%=$sp.string("context_menu__create_directory") %>"
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-folder-plus"></i>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-hdd"></i></span>
            <span class="text"><%=$sp.string("device_menu__directory")%></span>
        </h1>
    </div>
    <div class="menus">
        <ul class="view-type-menus clearfix">
            <li class="menu menu-list
                <% if (VIEW_TYPES.LIST === viewType) { %> selected<% } %>" data-target="list">
                <span class="hidden">display as list</span>
                <span class="glyphicons glyphicons-show-thumbnails-with-lines" aria-hidden="true"></span>
            </li>
            <li class="menu menu-icon
                <% if (VIEW_TYPES.ICON === viewType) { %> selected<% } %>" data-target="icon">
                <span class="hidden">display as icon</span>
                <span class="glyphicons glyphicons-show-thumbnails" aria-hidden="true"></span>
            </li>
        </ul>
    </div>
    <div class="path">
        <% var subpaths = model.path.split("/"), newPath = "/",
                defaultPath = model.getRoot().getSyncRoot().path; %>
        <% if (model.path.startsWith(defaultPath) && defaultPath !== model.path) { %>
            <a class="device"><%=model.getDevice().get("deviceName") %></a>
            <span> / </span>
        <% } else { %>
            <span><%=model.getDevice().get("deviceName") %></span>
        <% } %>
        <% for (var i=1; i<subpaths.length -1; i++) { %>
            <% newPath += subpaths[i] + "/"%>
            <% if (defaultPath.startsWith(newPath)) { continue; } %>
            <% if (i == subpaths.length - 2) { %>
                <span class="currpath" data-path="<%=newPath%>"><%= subpaths[i] %></span>
            <% } else { %>
                <a class="subpath" data-path="<%=newPath%>"><%= subpaths[i] %></a>
            <% } %>
            <% if (i < subpaths.length-2) { %>
                <span> / </span>
            <% } %>
        <% } %>
    </div>
    <% if (!model.getDevice().get("isTurnOn")) { %>
        <div class="failed-to-load-meta"><%=$sp.string("failed_to_load_meta")%></div>
    <% } %>
    <div class="selected-item-menus-placeholder">
        <div class="selected-item-menus-wrapper"></div>
    </div>
</div>
<div id="dirmodels" class="<%=viewType%> scroll-container">
    <div class="loading-contents">
        <span class="text">
            <%=$sp.string("loading_device_contents")%>
        </span>
        <img src="/static/images/loader.gif"/>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-dir-list">
<% var dirList = model.getSortedChildList(); %>
<ul class="collection-contents clearfix">
<% if (dirList.length) { %>
    <% var itemSetTagOpened = false %>
    <% $.each(dirList, function(idx, file) { %>
        <% if (file.name.startsWith(".")) { return true; } %>
        <% if (idx % model.splitSize === 0) { %>
            <% if (itemSetTagOpened) { %>
            </li>
            <% } %>
            <% var setSize = Math.min(dirList.length - idx, model.splitSize) %>
            <li class="item-set" style="height:<%=model.getSetHeight(setSize) %>px">
            <% itemSetTagOpened = true %>
        <%  } %>
        <div class="item<% if (file.isAdding || file.isDeleting) { %> nonselectable<% } %>
            <% if (file === tempSelectedItem) { %> temp-selected<% } %>
            <% if (selectedItems.indexOf(file) > -1) { %> selected<% } %>"
            data-key="<%=escape(file.isDirectory() ? file.name.toLowerCase() +"/": file.name.toLowerCase())%>"
            data-type="<% if (file.isDirectory()) { %>directory<% } else { %>file<% } %>"
            >
            <div class="clearfix">
                <div class="icon
                <% if (file.isDirectory()) { %>
                    icon-folder
                <% } else if (file.isMediaFile()) { %>
                    icon-video
                <% } else if (file.isImageFile()) { %>
                    icon-photo
                <% } else { %>
                    icon-file
                <% } %>
                ">
                    <% if (file.isFile() && (file.isMediaFile() || file.isImageFile())) { %>
                        <img src="<%= file.getThumbnailPath() %>?has-thumb=<%= file.hasThumbnail() %>"/>
                    <% } %>
                </div>
                <div class="name">
                    <a class="open-link">
                        <%= file.name %>
                    </a>
                </div>
            </div>
        </div>
    <% }) %>
    <% if (itemSetTagOpened) { %>
    </li>
    <% } %>
<% } else { %>
    <li class="empty-dir">
        <%=$sp.string("no_file") %>
    </li>
<% } %>
</ul>
</script>

<script type="text/template" id="tmpl-context-menu-disconnected">
<div id="context-menu-disconnected" class="context-menu">
    <i class="glyphicons glyphicons-alert"></i>
    <span class="name">
        <%= $sp.string("context_menu_failure__turnoff") %>
    </span>
</div>
</script>

<script type="text/template" id="tmpl-context-menu-files">
<ul id="context-menu-files" class="context-menu">
    <li class="menu menu-download" data-action="download-multiple">
        <i class="glyphicons glyphicons-compressed"></i>
        <span class="name">
            <%=$sp.string("context_menu__compress_download") %>
        </span>
    </li>
    <li class="menu menu-delete" data-action="delete">
        <i class="glyphicons glyphicons-bin"></i>
        <span class="name">
            <%=$sp.string("context_menu__delete")%>
        </span>
    </li>
</ul>
</script>

<script type="text/template" id="tmpl-context-menu-file">
<ul id="context-menu-file" class="context-menu">
    <li class="menu menu-open" data-action="open">
        <i class="glyphicons glyphicons-eye-open"></i>
        <span class="name">
            <%=$sp.string("context_menu__open")%>
        </span>
    </li>
    <li class="menu menu-download" data-action="download">
        <i class="glyphicons glyphicons-download-alt"></i>
        <span class="name">
            <%=$sp.string("context_menu__download")%>
        </span>
    </li>
    <li class="menu menu-delete" data-action="delete">
        <i class="glyphicons glyphicons-bin"></i>
        <span class="name">
            <%=$sp.string("context_menu__delete")%>
        </span>
    </li>
</ul>
</script>

<script type="text/template" id="tmpl-context-menu-general">
<ul id="context-menu-general" class="context-menu">
    <li class="menu menu-send-file" data-action="send_file">
        <i class="glyphicons glyphicons-file-import"></i>
        <span class="name">
            <%=$sp.string("context_menu__send_files")%>
        </span>
    </li>
    <li class="menu menu-create-new-folder" data-action="create_folder">
        <i class="glyphicons glyphicons-folder-plus"></i>
        <span class="name">
            <%=$sp.string("context_menu__create_directory")%>
        </span>
    </li>
</ul>
</script>

<!-- Directory views end --!>

<!-- Documents views --!>
<script type="text/template" id="tmpl-document-list">
<div class="fixed-container">
    <ul class="actions clearfix">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader" data-path="<%=model.path%>" 
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
                <span class="text">
                    <%=$sp.string("context_menu__send_files") %>
                </span>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-briefcase"></i></span>
            <span class="text"><%=$sp.string("device_menu__document")%></span>
        </h1>
        <% if (!model.getDevice().get("isTurnOn")) { %>
            <div class="failed-to-load-meta"><%=$sp.string("failed_to_load_meta")%></div>
        <% } %>
    </div>
    <div class="selected-item-menus-placeholder">
        <ul class="collection-columns clearfix">
            <li class="column column-name">
                <a class="name orderable" 
                    data-order-type="name"
                    <% if (collection.sortType==="name") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    NAME
                </a>
            </li>
            <li class="column column-kind">
                <a class="name orderable"
                    data-order-type="kind"
                    <% if (collection.sortType==="kind") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    KIND
                </a>
            </li>
            <li class="column column-modifed-at">
                <a class="name orderable"
                    data-order-type="modifiedAt"
                    <% if (collection.sortType==="modifiedAt") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    MODIFIED AT
                </a>
            </li>
        </ul>
        <div class="selected-item-menus-wrapper"></div>
    </div>
</div>
<div class="scroll-container">
    <ul class="collection-contents">
        <% if (collection.size() > 0 ) { %>
            <% var itemSetTagOpened = false %>
            <% $.each(collection.getSortedItems(), function(idx, file) { %>
                <% if (idx % collection.splitSize === 0) { %>
                    <% if (itemSetTagOpened) { %>
                    </li>
                    <% } %>
                    <% var setSize = Math.min(collection.size() - idx, collection.splitSize) %>
                    <li class="item-set" style="height:<%=collection.getSetHeight(setSize) %>px">
                    <% itemSetTagOpened = true %>
                <%  } %>
                <div class="item clearfix
                    <% if (file.isAdding || file.isDeleting) { %> nonselectable<% } %>
                    <% if (file === tempSelectedItem) { %> temp-selected<% } %>
                    <% if (selectedItems.indexOf(file) > -1) { %> selected<% } %>"
                    title="<%=file.path %>" data-key="<%=escape(file.path)%>">
                    <div class="icon"></div>
                    <% var dotIdx = file.name.lastIndexOf(".") %>
                    <div class="name">
                        <a class="open-link">
                            <%= file.name %>
                        </a>
                    </div>
                    <div class="kind">
                        <% if (dotIdx > -1) { %>
                            <%= file.name.substring(dotIdx + 1, file.name.length).toUpperCase() %>
                        <% } %>
                    </div>
                    <div class="modified-at">
                        <% var m = file.isFile() ? file.getModifiedAt() : null %> 
                        <% if (m) { %>
                            <%= $sp.moment(m).format("lll") %>
                        <% } else { %>
                            --
                        <% } %>
                    </div>
                </div>
            <% }) %>
            <% if (itemSetTagOpened) { %>
            </li>
            <% } %>
        <% } else { %>
            <li class="no-item"><%=$sp.string("no_document") %></li>
        <% } %>
    </ul>
</div>
</script>
<!-- Documents views end --!>


<!-- Music views --!>
<script type="text/template" id="tmpl-music-list">
<div class="fixed-container">
    <ul class="actions">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader" data-path="<%=model.path%>" 
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
                <span class="text">
                    <%=$sp.string("context_menu__send_files") %>
                </span>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-music"></i></span>
            <span class="text"><%=$sp.string("device_menu__music")%></span>
        </h1>
        <% if (!model.getDevice().get("isTurnOn")) { %>
            <div class="failed-to-load-meta"><%=$sp.string("failed_to_load_meta")%></div>
        <% } %>
    </div>
    <div class="selected-item-menus-placeholder">
        <ul class="collection-columns clearfix">
            <li class="column column-name">
                <a class="name orderable" 
                    data-order-type="name"
                    <% if (collection.sortType==="name") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    NAME
                </a>
            </li>
            <li class="column column-time">
                <a class="name orderable"
                    data-order-type="time"
                    <% if (collection.sortType==="time") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    TIME
                </a>
            </li>
            <li class="column column-artist">
                <a class="name orderable"
                    data-order-type="artist"
                    <% if (collection.sortType==="artist") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    ARTIST
                </a>
            </li>
            <li class="column column-album">
                <a class="name orderable"
                    data-order-type="album"
                    <% if (collection.sortType==="album") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    ALBUM
                </a>
            </li>
        </ul>
        <div class="selected-item-menus-wrapper"></div>
    </div>
</div>
<div class="scroll-container">
    <ul class="collection-contents">
        <% if (collection.size() > 0) {%>
            <% var itemSetTagOpened = false %>
            <% $.each(collection.getSortedItems(), function(idx, file) { %>
                <% if (idx % collection.splitSize === 0) { %>
                    <% if (itemSetTagOpened) { %>
                    </li>
                    <% } %>
                    <% var setSize = Math.min(collection.size() - idx, collection.splitSize) %>
                    <li class="item-set" style="height:<%=collection.getSetHeight(setSize) %>px">
                    <% itemSetTagOpened = true %>
                <%  } %>
                <div class="item clearfix
                    <% if (file.isAdding || file.isDeleting) { %> nonselectable<% } %>
                    <% if (file === tempSelectedItem) { %> temp-selected<% } %>
                    <% if (selectedItems.indexOf(file) > -1) { %> selected<% } %>" 
                    title="<%=file.path %>" data-key="<%=escape(file.path)%>">
                    <div class="icon">
                        <img src="<%= file.getThumbnailPath() %>?has-thumb=<%= file.hasThumbnail() %>"/>
                    </div>
                    <div class="name">
                        <a class="open-link"><%=file.name%></a>
                    </div>
                    <div class="time">
                        <% var d = file.getMusicDuration() %> 
                        <% if (d) { %>
                            <% var hour = parseInt(d / 3600000) %>
                            <% var min = parseInt((d % 3600000) / 60000) %>
                            <% var sec = parseInt((d % 60000) / 1000) %>
                            <% var formattedStr = hour > 0 ? hour + ":" : ""; %>
                            <% formattedStr += min < 10 ? "0" + min +":" : min + ":"; %>
                            <% formattedStr += sec < 10 ? "0" + sec : sec; %>
                            <%= formattedStr %>
                        <% } else { %>
                            --
                        <% } %>
                    </div>
                    <div class="artist">
                        <% if (file.getMusicArtist()) { %>
                            <%= file.getMusicArtist() %>
                        <% } else { %>
                            --
                        <% } %>
                    </div>
                    <div class="album">
                        <% if (file.getMusicAlbum()) { %>
                            <%= file.getMusicAlbum() %>
                        <% } else { %>
                            --
                        <% } %>
                    </div>
                </div>
            <% }) %>
            <% if (itemSetTagOpened) { %>
            </li>
            <% } %>
        <% } else { %>
            <li class="no-item"><%=$sp.string("no_music") %></li>
        <% } %>
    </ul>
</div>
</script>
<!-- Music views end--!>

<!-- Photo views --!>
<script type="text/template" id="tmpl-photo-albums">
<div class="fixed-container">
    <ul class="actions">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader" data-path="<%=model.path%>" 
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
                <span class="text">
                    <%=$sp.string("context_menu__send_files") %>
                </span>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-picture"></i></span>
            <span class="text"><%=$sp.string("device_menu__photo")%></span>
        </h1>
    </div>
</div>
<div class="albumlist-wrapper scroll-container">
    <ul class="albums clearfix">
        <% if (collection.size() > 0) {%>
            <% $.each(collection.getSortedItems(), function(idx, album) { %>
                <li class="album-wrapper">
                    <a class="album
                        <% if (album.isAdding || album.isDeleting) { %> nonselectable<% } %>
                        <% if (album=== tempSelectedItem) { %> temp-selected<% } %>
                        <% if (album.isRecentlyModified()) { %> recently-modified<% } %>"
                         title="<%=album.path %>" data-key="<%=escape(album.path)%>">
                        <div class="thumb">
                            <% var file = album.getThumbnailFile() %>
                            <img src="<%= file.getThumbnailPath() %>?has-thumb=<%= file.hasThumbnail()%>"/>
                        </div>
                        <div class="label open-link">
                            <div class="name"><%=album.name%></div>
                            <div class="count"><%=$sp.string_n("%s photos", album.size())%></div>
                        </div>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <li class="no-album"><%=$sp.string("no_image") %></li>
        <% } %>
    </ul>
</div>
</script>

<script type="text/template" id="tmpl-photo-album">
<% var photoGroups = collection.getPhotoGroups(); %>
<% var winHeight = $(window).height() - 45, 
        weightSum = 0, 
        prevItemBottom = 0,
        y,
        weight; %>

<div id="nav-photo-groups-placeholder"></div>
<ul id="nav-photo-groups">
    <% $.each(photoGroups, function(idx, photoGroup) { %>
        <% y =  10 + (winHeight * weightSum / 100); %>
        <% weight = photoGroup.photos.length * 100 / collection.size(); %>
        <% if (y > prevItemBottom) { %>
            <% prevItemBottom = y + 25; %>
            <li class="nav-photo-group-wrapper" data-weight="<%= weight %>"
                style="top:<%=y * 100 / winHeight%>%;">
                <a class="nav-photo-group page-inner-link" data-target="photo-group-<%=idx%>" >
                    <%= photoGroup.readableModifiedAt === "unknown" ? $sp.string("unknown") : photoGroup.readableModifiedAt %>
                </a>
            </li>
        <% } %>
        <% weightSum += weight %>
    <% }) %>
</ul>
<div class="fixed-container">
    <ul class="actions">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader" data-path="<%=model.path%>" 
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
                <span class="text">
                    <%=$sp.string("context_menu__send_files") %>
                </span>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-picture"></i></span>
            <span class="text"><%=$sp.string("device_menu__photo")%></span>
        </h1>
        <h2><%= collection.name %></h2>
        <h3 class="path"><%= model.path %></h3>
        <h3 class="photos-count"><%= $sp.string_n("%s photos", collection.size()) %></h3>
        <% if (!model.getDevice().get("isTurnOn")) { %>
            <div class="failed-to-load-meta"><%=$sp.string("failed_to_load_meta")%></div>
        <% } %>
    </div>
    <div class="selected-item-menus-placeholder">
        <div class="selected-item-menus-wrapper"></div>
    </div>
</div>
<ul id="photo-groups" class="scroll-container">
<% $.each(photoGroups, function(idx, photoGroup) { %>
    <li class="photo-group" id="photo-group-<%=idx%>">
        <% if (idx !== 0 || photoGroup.modifiedAt !== "unknown") { %>
            <div class="date"><%= photoGroup.readableModifiedAt === "unknown" ? $sp.string("unknown") : photoGroup.readableModifiedAt %></div>
        <% } %>
        <ul class="photos clearfix">
            <% var itemSetTagOpened = false %>
            <% $.each(photoGroup.photos, function(idx, file) { %>
                <% if (idx % collection.splitSize === 0) { %>
                    <% if (itemSetTagOpened) { %>
                    </li>
                    <% } %>
                    <% var setSize = Math.min(photoGroup.photos.length - idx, collection.splitSize) %>
                    <li class="item-set" style="height:<%=collection.getSetHeight(setSize) %>px">
                    <% itemSetTagOpened = true %>
                <%  } %>
                <div class="photo-wrapper">
                    <a class="photo
                        <% if (file.isAdding || file.isDeleting) { %> nonselectable<% } %>
                        <% if (file === tempSelectedItem) { %> temp-selected<% } %>
                        <% if (selectedItems.indexOf(file) > -1) { %> selected<% } %>" data-key="<%=escape(file.path)%>">
                        <div class="thumb">
                            <img src="<%= file.getThumbnailPath() %>?has-thumb=<%= file.hasThumbnail() %>"/>
                        </div>
                        <div class="label">
                            <div class="name"><%=file.name%></div>
                            <% var m = file.getModifiedAt() %>
                            <% if (m) { %>
                                <div class="meta-date">
                                    <%= $sp.moment(m).format("lll") %>
                                </div>
                            <% } %>
                        </div>
                    </a>
                </div>
            <% }) %>
            <% if (itemSetTagOpened) { %>
            </li>
            <% } %>
        </ul>
    </li>
<% }) %>
</ul>
</script>
<!-- Photo views end --!>

<!-- Video views --!>
<script type="text/template" id="tmpl-video-list">
<div class="fixed-container">
    <ul class="actions">
        <li class="action-wrapper">
            <a class="btn btn-gray btn-mini action action-show-uploader" data-path="<%=model.path%>" 
                <% if (!model.getDevice().get("isTurnOn")) { %>
                    disabled='true'
                <% } %>>
                <i class="glyphicons glyphicons-file-import"></i>
                <span class="text">
                    <%=$sp.string("context_menu__send_files") %>
                </span>
            </a>
        </li>
    </ul>
    <div class="menu-type">
        <h1>
            <span class="icon"><i class="glyphicons glyphicons-film"></i></span>
            <span class="text"><%=$sp.string("device_menu__video")%></span>
        </h1>
        <% if (!model.getDevice().get("isTurnOn")) { %>
            <div class="failed-to-load-meta"><%=$sp.string("failed_to_load_meta")%></div>
        <% } %>
    </div>
    <div class="selected-item-menus-placeholder">
        <ul class="collection-columns clearfix">
            <li class="column column-name">
                <a class="name orderable" 
                    data-order-type="name"
                    <% if (collection.sortType==="name") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    NAME
                </a>
            </li>
            <li class="column column-kind">
                <a class="name orderable"
                    data-order-type="kind"
                    <% if (collection.sortType==="kind") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    KIND
                </a>
            </li>
            <li class="column column-modifed-at">
                <a class="name orderable"
                    data-order-type="modifiedAt"
                    <% if (collection.sortType==="modifiedAt") { %>
                        data-orderby="<%=collection.sortDirection %>"
                    <% } %>>
                    MODIFIED AT
                </a>
            </li>
        </ul>
        <div class="selected-item-menus-wrapper"></div>
    </div>
</div>
<div class="scroll-container">
    <ul class="collection-contents">
        <% if (collection.size() > 0) { %>
            <% var itemSetTagOpened = false %>
            <% $.each(collection.getSortedItems(), function(idx, file) { %>
                <% if (idx % collection.splitSize === 0) { %>
                    <% if (itemSetTagOpened) { %>
                    </li>
                    <% } %>
                    <% var setSize = Math.min(collection.size() - idx, collection.splitSize) %>
                    <li class="item-set" style="height:<%=collection.getSetHeight(setSize) %>px">
                    <% itemSetTagOpened = true %>
                <%  } %>
                <div class="item clearfix
                    <% if (file.isAdding || file.isDeleting) { %> nonselectable<% } %>
                    <% if (file === tempSelectedItem) { %> temp-selected<% } %>
                    <% if (selectedItems.indexOf(file) > -1) { %> selected<% } %>" 
                    title="<%=file.path %>" data-key="<%=escape(file.path)%>">
                    <div class="icon">
                        <img src="<%= file.getThumbnailPath() %>"/>
                    </div>
                    <% var dotIdx = file.name.lastIndexOf(".") %>
                    <div class="name">
                        <a class="open-link">
                            <%= file.name %>
                        </a>
                    </div>
                    <div class="kind">
                        <% if (dotIdx > -1) { %>
                            <%= file.name.substring(dotIdx + 1, file.name.length).toUpperCase() %>
                        <% } %>
                    </div>
                    <div class="modified-at">
                        <% if (file.isFile()) { %>
                            <% var m = file.getModifiedAt() %>
                            <% if (m) { %>
                                <%= $sp.moment(m).format("lll") %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% }) %>
            <% if (itemSetTagOpened) { %>
            </li>
            <% } %>
        <% } else { %>
            <li class="no-item"><%=$sp.string("no_video") %></li>
        <% } %>
    </ul>
</div>
</script>
<!-- Video views end --!>

<!-- Device settings views -->
<script type="text/template" id="tmpl-device-settings">
<div class="menu-type">
    <h1>
        <span class="icon"><i class="glyphicons glyphicons-settings"></i></span>
        <span class="text"><%=$sp.string("device_settings__title", device.get("deviceName"))%></span>
    </h1>
    <div class="device-name-setting setting">
        <h3 class="setting-name"><%=$sp.string("device_settings__sub_title_rename")%></h3>
        <form id="device-rename-form">
            <div class="input-wrapper">
                <input type="text" class="input-device-name" value="<%=device.get("deviceName")%>" placeholder="<%=$sp.string("device_settings__device_name").toLowerCase() %>"/>
            </div>
            <div class="footer">
                <a class="btn btn-gray btn-discard-changes"><%=$sp.string("discard_changes") %></a>
                <a class="btn btn-green btn-save-changes">
                    <span class="text"><%=$sp.string("save_changes") %></span>
                    <img class="wheel" src="/static/images/loader.gif"/>
                </a>
            </div>
            <input type="submit"/>
        </form>
    </div>
    <!--
    <div class="device-delete-setting setting">
        <h3 class="setting-name"><%=$sp.string("device_settings__sub_title_delete")%></h3>
        <div class="desc"><%=$sp.string("device_settings__desc_delete") %></div>
        <a class="btn btn-red btn-delete-device">
            <span class="text"><%=$sp.string("delete_device") %></span>
            <img class="wheel" src="/static/images/loader.gif"/>
        </a>
    </div>
    -->
</div>
</script>
<!-- Device settings views end -->

<!-- Device events views -->
<script type="text/template" id="tmpl-device-events">
<div class="menu-type">
    <h1>
        <span class="icon"><i class="glyphicons glyphicons-clock"></i></span>
        <span class="text"><%=$sp.string("device_menu__event")%></span>
    </h1>
    <ul class="events">
        <% if (!eventModels.length) { %>
            <li>No event exists</li>
        <% } else { %>
            <% $.each(eventModels, function(idx, eventModel) { %>
                <li class="event event-<%=eventModel.type %>">
                    <% if (eventModel.type === "download") { %>
                        Downloaded <%= eventModel.file %> from <%= eventModel.parentPath %>
                    <% } else if (eventModel.type === "compressRequest") { %>
                        Requested compress 
                        <span title="<%= eventModel.paths %>"><%=eventModel.paths.length%> items</span>
                    <% } else if (eventModel.type === "compressComplete") { %>
                        Compressing
                        <span title="<%= eventModel.paths %>"><%=eventModel.paths.length%> items</span>
                        finished.<br/>
                        Downloading <span>compressed file</span> started
                    <% } else if (eventModel.type === "send") { %>
                        Sent <%= eventModel.file %> to <%= eventModel.parentPath %>
                    <% } %>
                </li>
            <% }) %>
        <% } %>
    </ul>
</div>
</script>

<!-- Item select menus -->
<script type="text/template" id="tmpl-selected-item-menus">
<% if (files.length == 1 && folders.length == 0) { %>
    <div class="filename">
        <%=files[0].name%>
    </div>
    <% if (device.get("isTurnOn")) { %>
        <ul class="selected-item-menus">
            <li class="menu menu-open" data-action="open">
                <i class="glyphicons glyphicons-eye-open"></i>
                <span class="name">
                    <%=$sp.string("context_menu__open")%>
                </span>
            </li>
            <li class="menu menu-download" data-action="download">
                <i class="glyphicons glyphicons-download-alt"></i>
                <span class="name">
                    <%=$sp.string("context_menu__download")%>
                </span>
            </li>
            <li class="menu menu-delete" data-action="delete">
                <i class="glyphicons glyphicons-bin"></i>
                <span class="name">
                    <%=$sp.string("context_menu__delete")%>
                </span>
            </li>
        </ul>
    <% } else { %>
        <div class="device-turn-off">
            <i class="glyphicons glyphicons-alert"></i>
            <span class="text"><%= $sp.string("context_menu_failure__turnoff") %></span>
        </div>
    <% } %>
<% } else if (files.length > 0 || folders.length > 0) { %>
    <% if (files.length > 0 && folders.length > 0) { %>
        <div class="filename">
            <%=$sp.string_n("folder_count", folders.length)%>
            <%=$sp.string("and")%>
            <%=$sp.string_n("file_count", files.length)%>
        </div>
    <% } else if (files.length > 0 && folders.length === 0) { %>
        <div class="filename">
            <%=$sp.string_n("file_count", files.length)%>
        </div>
    <% } else if (files.length === 0 && folders.length == 1) { %>
        <div class="filename">
            <%=folders[0].name%>
        </div>
    <% } else if (files.length === 0 && folders.length > 1) { %>
        <div class="filename">
            <%=$sp.string_n("folder_count", folders.length)%>
        </div>
    <% } %>
    <% if (device.get("isTurnOn")) { %>
        <ul class="selected-item-menus">
            <li class="menu menu-download" data-action="download-multiple">
                <i class="glyphicons glyphicons-compressed"></i>
                <span class="name">
                    <%=$sp.string("context_menu__compress_download") %>
                </span>
            </li>
            <li class="menu menu-delete" data-action="delete">
                <i class="glyphicons glyphicons-bin"></i>
                <span class="name">
                    <%=$sp.string("context_menu__delete")%>
                </span>
            </li>
        </ul>
    <% } else { %>
        <div class="device-turn-off">
            <i class="glyphicons glyphicons-alert"></i>
            <span class="text"><%= $sp.string("context_menu_failure__turnoff") %></span>
        </div>
    <% } %>
<% } %>
</script>
