<script type="text/template" id="tmpl-page-reset-passwd">
<div class="page-holder">
    <% if (_context.account) { %>
        {% include "_header_auth.html" %}
    <% } else { %>
        {% include "_header_nonauth.html" %}
    <% } %>
    <div class="input-content">
        <div class="reset-passwd-box">
            <div class="box-header">
                <h1><%=$sp.string("reset_password_title") %></h1>
            </div>
            <form id="form-reset-passwd" class="clearfix">
                <div class="helpline">
                    <%= $sp.string("reset_password_desc") %>
                </div>
                <div class="input-wrapper">
                    <input id="input-email" type="email" placeholder="Email" <% if (_context.account) { %>value="<%=_context.account.email%>"<% } %>/>
                </div>
                <input type="submit"/>
                <a class="btn btn-reset-passwd">
                    <span class="text"><%=$sp.string("reset_password_btn")%></span>
                    <img class="wheel" src="/static/images/loader.gif"/>
                </a>
            </form>
        </div>
    </div>
</div>
</script>
<script type="text/template" id="tmpl-page-sent-reset-mail">
<div class="page-holder">
    <% if (_context.account) { %>
        {% include "_header_auth.html" %}
    <% } else { %>
        {% include "_header_nonauth.html" %}
    <% } %>
    <div class="sent-content">
        <h1><%=$sp.string("reset_instruction_sent", email) %></h1>
        <img class="sent-image" src="/static/images/img_mail_sent.png"/>
        <a href="/#" class="btn btn-home"><%=$sp.string("return_home")%></a>
    </div>
</div>
</script>
