<script type="text/template" id="tmpl-page-account-settings">
<div class="page-holder">
    {% include "_header_auth.html" %}
    <h1><%=$sp.string("account_settings_title") %></h1>
    <div class="setting account-setting">
        <h2><%=$sp.string("account_settings_title__account") %></h2>
        <div class="contents">
            <div class="name-setting">
                <% var _fullname = _context.account.lastName + " " + _context.account.firstName; %>
                <span class="name"><%=_fullname %></span>
            </div>
            <div class="email"><%= _context.account.email %></div>
        </div>
    </div>
    <div class="setting password-setting">
        <h2><%=$sp.string("account_settings_title__passwd") %></h2>
        <div class="contents">
            <% var scheme = "https://"; %>
            <% if (window.location.host.startsWith("dev.")) { %>
                <% scheme = "http://"; %>
            <% } %>
            <a href="<%=scheme%><%=window.location.host %>/change-password" class="link-change-passwd"><%=$sp.string("change_password")%></a><br/>
            <!--<a href="#reset-password" class="link-forgot-passwd"><%=$sp.string("forgot_password")%></a>-->
        </div>
    </div>
</div>
</script>
