<script type="text/template" id="tmpl-browser-support">
<div id='unsupported-browser'>
    <h1><%= $sp.string("%sbrowser_not_supported_title", currentBrowser) %></h1>
    <h3><%=$sp.string("browser_not_supported_desc") %><% if (currentBrowser.split(" ")[0] == "MSIE") { %> <a href='http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages'>UPGRADE LINK</a><% } %></h3>
</div>
</script>
