<script type="text/template" id="tmpl-page-signin">
<div class="page-holder">
    {% include "_header_nonauth.html" %}
    <div class="error-prompt"></div>
    <div class="signin-box">
        <div class="box-header">
            <h1><%=$sp.string("signin") %></h1>
            <h3>
                <%= $sp.string("or") %>
                <a class="link-signup"><%=$sp.string("create_account") %></a>
            </h3>
        </div>
        <form id="form-signin" class="clearfix">
            <div class="input-wrapper">
                <input id="input_email" type="email" placeholder="Email"/>
            </div>
            <div class="input-wrapper">
                <input id="input_passwd" type="password" placeholder="Password"/>
            </div>
            <input type="submit"/>
            <div class="form-footer clearfix">
                <a href="http://<%=window.location.host %>/#reset-password" class="link-reset-passwd"><%=$sp.string("forgot_password") %></a>
                <a class="btn btn-signin"><%=$sp.string("signin")%></a>
            </div>
        </form>
    </div>
</div>
</script>
