<script type="text/template" id="tmpl-dropdown-device">
<div id="dropdown-device" class="dropdown-item">
    <div class="devices-type">ON DEVICES</div>
    <% if (activeModels.length > 0 ) { %>
        <ul class="devices on-devices">
        <% $.each(activeModels, function(idx, model) { %>
            <li class="device-wrapper">
                <a class='device clearfix
                    <% if (model.selected) { %> selected<% } %>'
                    data-cid='<%=model.cid%>' data-state='<% if (model.isTurnOn) { %>on<% } else { %>off<% } %>'>
                    <div class="icon
                        <% if(model.deviceType === "ANDROID") { %>
                            <% if (model.isTurnOn) { %>
                                icon-phone
                            <% } else { %>
                                icon-phone-off
                            <% } %>
                        <% } else if (model.deviceType === "WINDOWS" || model.deviceType === "MAC") { %>
                            <% if (model.isTurnOn) { %>
                                icon-desktop
                            <% } else { %>
                                icon-desktop-off
                            <% } %>
                        <% } else { %>
                            <% if (model.isTurnOn) { %>
                                icon-labtop
                            <% } else { %>
                                icon-labtop-off
                            <% } %>
                        <% } %>
                    "></div>
                    <div class="name">
                        <%=model.deviceName%>
                    </div>
                </a>
            </li>
        <% }); %>
        </ul>
    <% } else { %>
        <div class="no-devices"><%= $sp.string("no_device_turned_on") %></div>
    <% } %>
    <div class="divider"></div>
    <div class="devices-type">OFF DEVICES</div>
    <% if (deactiveModels.length > 0 ) { %>
        <ul class="devices off-devices">
        <% $.each(deactiveModels, function(idx, model) { %>
            <li class="device-wrapper">
                <a class='device clearfix
                    <% if (model.selected) { %> selected<% } %>'
                    data-cid='<%=model.cid%>' data-state='<% if (model.isTurnOn) { %>on<% } else { %>off<% } %>'>
                    <div class="icon
                        <% if(model.deviceType === "ANDROID") { %>
                            <% if (model.isTurnOn) { %>
                                icon-phone
                            <% } else { %>
                                icon-phone-off
                            <% } %>
                        <% } else if (model.deviceType === "WINDOWS" || model.deviceType === "MAC") { %>
                            <% if (model.isTurnOn) { %>
                                icon-desktop
                            <% } else { %>
                                icon-desktop-off
                            <% } %>
                        <% } else { %>
                            <% if (model.isTurnOn) { %>
                                icon-labtop
                            <% } else { %>
                                icon-labtop-off
                            <% } %>
                        <% } %>
                    "></div>
                    <div class="name">
                        <%=model.deviceName%>
                    </div>
                </a>
            </li>
        <% }); %>
        </ul>
    <% } else { %>
        <div class="no-devices"><%= $sp.string("no_device_turned_off") %></div>
    <% } %>
    <div class="divider"></div>
    <div class="link-download-wrapper">
        <a class="link-download">
            <i class="glyphicons glyphicons-circle-plus"></i>
            <%= $sp.string("add_new_device")%>
        </a> 
    </div>
</div>
</script>

<script type="text/template" id="tmpl-selected-device">
<div class="selected-device device clearfix" data-cid='<%=currModel.cid%>' data-state='<% if (currModel.isTurnOn) { %>on<% } else { %>off<% } %>'>
    <div class="icon
        <% if(currModel.deviceType === "ANDROID") { %>
            <% if (currModel.isTurnOn) { %>
                icon-phone
            <% } else { %>
                icon-phone-off
            <% } %>
        <% } else if (currModel.deviceType === "WINDOWS" || currModel.deviceType === "MAC") { %>
            <% if (currModel.isTurnOn) { %>
                icon-desktop
            <% } else { %>
                icon-desktop-off
            <% } %>
        <% } else { %>
            <% if (currModel.isTurnOn) { %>
                icon-labtop
            <% } else { %>
                icon-labtop-off
            <% } %>
        <% } %>
    "></div>
    <div class="carrot">
        <i class="ic ic-gray-carrot"></i>
    </div>
    <div class="name">
        <%=currModel.deviceName%>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-dropzone">
<div class="box">
    <div class="title"><%=$sp.string("drop_your_files") %></div>
    <div class="desc"><%=$sp.string("files_will_be_send_to%s_%sdirectory", model.getDevice().get("deviceName"), model.path) %></div>
</div>
</script>

<script type="text/template" id="tmpl-dropzone-off">
<div class="box">
    <div class="title"><%=$sp.string("cannot_drop_files_to_send")%></div>
    <div class="desc"><%=$sp.string("%sdevice_is_turned_off", model.getDevice().get("deviceName")) %></div>
</div>
</script>

<script type="text/template" id="tmpl-dir-list-progress">
<div class="loader">
    <img class="progress-loader" src="/static/images/loader.gif"/>
</div>
<div class="text"><%=$sp.string("loading_directories") %></div>
</script>

<script type="text/template" id="tmpl-dir-loadfailure">
<h1><%=$sp.string("waiting_file_sync")%></h1>
<h3><%=model.get("deviceName") %></h3>
<div class="loader">
    <img src="/static/images/loader.gif"/>
</div>
</script>

<script type="text/template" id="tmpl-shortcut-list">
<ul id="shortcutlist">
    <li class="shortcut-wrapper">
        <a class="shortcut" data-path="<%= deviceRoot.getSyncRootPath() %>">
            <span class="icon glyphicons glyphicons-hdd" aria-hidden="true"></span>
            <span class="name"><%=$sp.string("shortcut_files") %></span>
        </a>
    </li>
    <% $.each(shortcuts, function(idx, shortcut) { %>
        <li class="shortcut-wrapper">
            <a class="shortcut" data-path="<%=shortcut.dir.path %>">
                <span class="icon glyphicons glyphicons-<%= shortcut.glyphicon %>" aria-hidden="true"></span>
                <span class="name"><%= shortcut.name %></span>
            </a>
        </li>
    <% }); %>
</ul>
</script>

<script type="text/template" id="tmpl-page-device">
<div class="page-holder">
    <header id = "auth-header" class="clearfix">
        <div class="logo">
            <a class="link-home">
                <i class="ic ic-logo">Syncport</i>
            </a>
        </div>
        <div class="device-select-menu" data-intro="Hello step one!" data-position="bottom"></div>
        <div class="account-menu">
            <% var _fullname = _context.account.lastName + " " + _context.account.firstName; %>
            <a class="account">
                <%= _fullname %>
                <i class="ic ic-gray-carrot"></i>
            </a>
        </div>
        <ul class="nav-menus right-nav-menus">
            <!--
            <% if (_context.path == "/how-to-use") { isSelected = true; } else { isSelected = false; } %>
            <li class="nav-menu nav-menu-download<% if (isSelected) { %> selected<% } %>">
                <% if (isSelected) { %>
                    <span class="name">
                        <%=$sp.string("howtouse")%>
                    </span>
                <% } else { %>
                    <a class="link-how-to-use name">
                        <%=$sp.string("howtouse")%>
                    </a>
                <% } %>
            </li>
            -->
            <% if (_context.path == "/download") { isSelected = true; } else { isSelected = false; } %>
            <li class="nav-menu nav-menu-download<% if (isSelected) { %> selected<% } %>">
                <% if (isSelected) { %>
                    <span class="name">
                        <%=$sp.string("download")%>
                    </span>
                <% } else { %>
                    <a class="link-download name">
                        <%=$sp.string("download")%>
                    </a>
                <% } %>
            </li>
        </ul>
        <div class="app-status-text"></div>
    </header>
    <div class="page-contents clearfix">
        <div id="device-subviews" class="clearfix">
            <div id="loading-indicator"></div>
            <div id="device-content-wrapper">
                <div id="device-menus-wrapper">
                    <ul id="device-menus" data-intro="Hello step one!" data-position="right">
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-photo-albums" || 
                                    _context.path === "/device-photo-albums") { %>
                                    selected
                                <% } %>" data-target="photos">
                                <span class="icon glyphicons glyphicons-picture" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__photo") %></span>
                            </a>
                        </li>
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-music") { %>
                                    selected
                                <% } %>
                                " data-target="music">
                                <span class="icon glyphicons glyphicons-music" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__music") %></span>
                            </a>
                        </li>
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-videos") { %>
                                    selected
                                <% } %>
                                " data-target="videos">
                                <span class="icon glyphicons glyphicons-film" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__video") %></span>
                            </a>
                        </li>
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-documents") { %>
                                    selected
                                <% } %>
                                " data-target="documents">
                                <span class="icon glyphicons glyphicons-briefcase" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__document") %></span>
                            </a>
                        </li>
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-directory") { %>
                                    selected
                                <% } %>
                                " data-target="directory">
                                <span class="icon glyphicons glyphicons-hdd" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__directory") %></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <!--
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-events") { %>
                                    selected
                                <% } %>
                                " data-target="events">
                                <span class="icon glyphicons glyphicons-clock" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__event") %></span>
                            </a>
                        </li>
                        -->
                        <li class="device-menu-wrapper">
                            <a class="device-menu
                                <% if (_context.path === "/device-settings") { %>
                                    selected
                                <% } %>
                                " data-target="settings">
                                <span class="icon glyphicons glyphicons-settings" aria-hidden="true"></span>
                                <span class="name"><%=$sp.string("device_menu__settings") %></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="status-text"></div>
                <div id="device-content">
                    <div class="loading-contents">
                        <span class="text">
                            <%=$sp.string("loading_device_contents")%>
                        </span>
                        <img class="progress-loader" src="/static/images/loader.gif"/>
                    </div>
                </div>
            </div>
            <div id="load-failure"></div>
        </div>
        <div class="empty-view">
            <h1><%=$sp.string("connect_your_first_device") %></h1>
            <h2><%=$sp.string("connect_your_first_device_sub") %></h2>
            <a class="download-single" href="https://play.google.com/store/apps/details?id=io.syncport" target="_blank" >
                <div class="ic-wrapper">
                    <i class="glyphicons glyphicons-download-alt"></i>
                </div>
                <div class="text"><%=$sp.string("download_android_client")%></div>
                <!--
                <% if ($sp.Utils.os=='MacOS') { %>
                <div class="text"><%=$sp.string("download_mac_client")%></div>
                <% } else { %>
                <div class="text"><%=$sp.string("download_windows_client")%></div>
                <% } %>
                -->
            </a>
            <!--
            <div class="other-clients">
                <h3><%=$sp.string("or_download_others")%></h3>
                <div class="downloads-wrapper">
                    <ul class="downloads" data-log-category="download">
                        <li class="download-wrapper">
                            <a class="download download-android" href="https://play.google.com/store/apps/details?id=io.syncport" target="_blank" data-log-click="android">
                                <i class="ic ic-down-android">android download</i>
                            </a>
                        </li>
                        <% if ($sp.Utils.os=='MacOS') { %>
                        <li class="download-wrapper">
                            <a class="download download-windows" href="#" disabled>
                                <i class="ic ic-down-windows">windows download</i>
                            </a>
                        </li>
                        <% } else { %>
                        <li class="download-wrapper">
                            <a class="download download-mac" href="#" disabled>
                                <i class="ic ic-down-mac">mac download</i>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-upload">
<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-upload" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="droppable-off">
                <div class="modal-header">
                    <a class="btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicons glyphicons-remove-2"></i>
                    </a>
                    <h4 class="modal-title">
                        <%=$sp.string("form_upload_title", targetDirModel.getDevice().get("deviceName")) %>
                    </h4>
                </div>
                <div class="modal-body">
                    <span><%=$sp.string("form_upload_desc", targetDirModel.path)%></span>
                    <form class="send-form">
                        <div class="input-wrapper">
                            <input type="file" multiple>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-gray" data-dismiss="modal"><%=$sp.string("close") %></a>
                    <a class="btn btn-send"><%=$sp.string("send")%></a>
                </div>
            </div>
            <div class="droppable">
                <div class="title"><%=$sp.string("drop_your_files") %></div>
                <div class="desc">
                    <%=$sp.string("files_will_be_send_to%s_%sdirectory", targetDirModel.getDevice().get("deviceName"), targetDirModel.path) %>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-connection-check">
<div class="modal fade" id="modal-connection-check" tabindex="-1" role="dialog" aria-labelledby="modal-connection-check" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <i class="glyphicons glyphicons-transfer"></i>
            <div class="title">
                <span class="text"><%=$sp.string("checking_connection", device.get("deviceName")) %> </span>
                <img class="wheel" src="/static/images/loader.gif"/>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-create-folder">
<div class="modal fade" id="modal-create-folder" tabindex="-1" role="dialog" aria-labelledby="modal-create-folder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="droppable-off">
                <div class="modal-header">
                    <a class="btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicons glyphicons-remove-2"></i>
                    </a>
                    <h4 class="modal-title">
                        <%=$sp.string("create_folder_title") %>
                    </h4>
                </div>
                <div class="error-prompt"></div>
                <div class="modal-body">
                    <div class="description"><%=$sp.string("create_folder_desc", targetDirModel.getDevice().get("deviceName"), targetDirModel.path) %></div>
                    <form id="create-folder-form">
                        <input type="text" id="input-new-folder-name" placeholder="<%=$sp.string("new_folder_name")%>"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-gray" data-dismiss="modal"><%=$sp.string("close") %></a>
                    <a class="btn btn-apply">
                        <span class="text"><%=$sp.string("apply_create_folder")%></span>
                        <img class="wheel" src="/static/images/loader.gif"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-minibar-sending-list">
<div id="minibar-sending-list" class="minibar">
    <div class="header clearfix">
        <div class="icon">
            <img src="/static/images/loader.gif"/>
        </div>
        <a class="detail-btn">
            view detail
        </a>
        <div class="status"></div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-sending-list">
<div class="modal fade" id="modal-sending-list" tabindex="-1" role="dialog" aria-labelledby="modal-sending-list" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="droppable-off">
                <div class="modal-header">
                    <a class="btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicons glyphicons-remove-2"></i>
                    </a>
                    <h4 class="modal-title">
                        <%=$sp.string("sending_list_title") %>
                    </h4>
                </div>
                <div class="modal-body">
                    <span><%=$sp.string("sending_list_desc")%></span>
                    <div class="items-wrapper">
                        <table class="items">
                            <col width="147px"/>
                            <col width="176px"/>
                            <col width="156px"/>
                            <col/>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-gray" data-dismiss="modal"><%=$sp.string("close") %></a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-sending-item">
<tr class="item" data-device-id="<%=peer.deviceId%>" data-key="<%=escape(key) %>" data-length="<%= file.size %>">
    <td class="peer clearfix">
        <div class="icon
            <% if(peer.deviceType === "ANDROID") { %>
                icon-phone
            <% } else if (peer.deviceType === "WINDOWS" || 
                    peer.deviceType === "MAC" || 
                    peer.deviceType === "WINDOW" ) { %>
                icon-desktop
            <% } else { %>
                icon-labtop
            <% } %>
        "></div>
        <div class="name">
            <%=peer.deviceName%>
        </div>
    </td>
    <td class="filename"><%= file.name %></td>
    <td class="path" data-path="<%=path%>"><%= path %></td>
    <td class="status-wrapper">
        <div class="progress">
            <div class="status"><%=status %></div>
            <div class="status-inverse-wrapper">
                <div class="status"><%=status %></div>
            </div>
        </div>
        <div class="btn-wrapper">
            <a title="cancel" class="btn-cancel">
                <i class="glyphicons glyphicons-remove-2"></i>
            </a>
        </div>
    </td>
</tr>
</script>


<script type="text/template" id="tmpl-minibar-compressing-list">
<div id="minibar-compressing-list" class="minibar">
    <div class="header clearfix">
        <div class="icon">
            <img src="/static/images/loader.gif"/>
        </div>
        <a class="detail-btn">
            view detail
        </a>
        <div class="status"></div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-compressing-list">
<div class="modal fade" id="modal-compressing-list" tabindex="-1" role="dialog" aria-labelledby="modal-compressing-list" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="droppable-off">
                <div class="modal-header">
                    <a class="btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicons glyphicons-remove-2"></i>
                    </a>
                    <h4 class="modal-title">
                        <%=$sp.string("compressing_list_title") %>
                    </h4>
                </div>
                <div class="modal-body">
                    <span><%=$sp.string("compressing_list_desc")%></span>
                    <div class="items-wrapper">
                        <table class="items">
                            <col width="170px"/>
                            <col width="300px"/>
                            <col/>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-gray" data-dismiss="modal"><%=$sp.string("close") %></a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>


<script type="text/template" id="tmpl-compressing-item">
<tr class="item" data-device-id="<%=device.deviceId%>" data-key="<%=escape(key) %>">
    <td class="peer clearfix" width="120">
        <div class="icon
            <% if(device.deviceType === "ANDROID") { %>
                icon-phone
            <% } else if (device.deviceType === "WINDOWS" || device.deviceType === "MAC") { %>
                icon-desktop
            <% } else { %>
                icon-labtop
            <% } %>
        "></div>
        <div class="name">
            <%=device.deviceName%>
        </div>
    </td>
    <td class="filename"><%= title %></td>
    <td class="status-wrapper">
        <div class="progress">
            <div class="status"><%=status %></div>
            <div class="status-inverse-wrapper">
                <div class="status"><%=status %></div>
            </div>
        </div>
        <div class="btn-wrapper">
            <a title="cancel" class="btn-cancel">
                <i class="glyphicons glyphicons-remove-2"></i>
            </a>
        </div>
    </td>
</tr>
</script>

<script type="text/template" id="tmpl-modal-file">
<div class="modal fade" id="modal-file" 
    tabindex="-1" role="dialog" aria-labelledby="modal-file" aria-hidden="true">
    <div class="modal-dialog
        <% if (usePreview) { %>
        modal-preview-file
        <% } %>">
        <div class="modal-content">
            <div class="droppable-off">
                <div class="modal-header">
                    <a class="btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicons glyphicons-remove-2"></i>
                    </a>
                    <% if (usePreview) { %>
                        <div class="actions">
                            <a class="btn action" data-action="download"><%=$sp.string("context_menu__download") %></a>
                        </div>
                    <% } %>
                    <h4 class="modal-title">
                        <%=file.name %> 
                    </h4>
                </div>
                <div class="modal-body">
                    <% if (usePreview) { %>
                        <div class="loader-wrapper">
                            <img class="loader" src="/static/images/loader.gif"/>
                        </div>
                    <% } else { %>
                        <div class="file">
                            <i class="icon glyphicons glyphicons-file"></i> 
                            <div class="name"><%= file.name %></div>
                            <div class="actions">
                                <!--
                                    <a class="btn btn-gray action" data-action="delete"><%=$sp.string("context_menu__delete") %></a>
                                -->
                                <a class="btn action" data-action="download"><%=$sp.string("context_menu__download") %></a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tmpl-modal-image-preview">
<div id="modal-image-preview">
    <div class="shadow"></div>
    <div class="photo-wrapper">
        <a class="btn-close">
            <i class="glyphicons glyphicons-remove"></i>
        </a>
        <div class="photo">
        </div>
    </div>
    <div class="loader-window">
        <img class="loader" src="/static/images/loader2.gif"/>
    </div>
    <div class="footer">
        <ul class="actions">
            <li class="action-wrapper">
                <a class="action" data-action="download">
                    <i class="glyphicons glyphicons-download-alt"></i>
                    <%=$sp.string("context_menu__download") %>
                </a>
            </li>
            <li class="action-wrapper">
                <a class="action" data-action="delete">
                    <i class="glyphicons glyphicons-bin"></i>
                    <%=$sp.string("context_menu__delete") %>
                </a>
            </li>
        </ul>
        <div class="name"><%=file.name%></div>
    </div>
</div>
</script>
