<script type="text/template" id="tmpl-page-how-to-use">
<% if ($sp.context.account) { %>
{% include "_header_auth.html" %}
<% } else { %>
{% include "_header_nonauth.html" %}
<% } %>
<div class="page-header">
    <h1><%=$sp.string("howtouse_title") %></h1>
    <h2><%=$sp.string("howtouse_subtitle") %></h2>
    <img src="/static/images/img_howtouse.png"/>
</div>
<div class="index-wrapper">
    <h3><%=$sp.string("howtouse_howtouse") %></h3>
    <ul class="index">
        <li><a class="page-inner-link" data-target="how-to-use-windows"><%=$sp.string("howtouse_index_windows") %></a></li>
        <li><a class="page-inner-link" data-target="how-to-use-mac"><%=$sp.string("howtouse_index_mac") %></a></li>
        <li><a class="page-inner-link" data-target="how-to-use-android"><%=$sp.string("howtouse_index_android") %></a></li>
    </ul>
</div>
<div id="how-to-use-mac" class="how-to-use-case">
    <h4><%=$sp.string("howtouse_index_mac")%></h4>
    <div class="step">
        <div class="step-box">Step 1</div>
        <div class="step-desc"><% if ($sp.context.locale=='ko_KR') { %>
            <a href="#">다운로드</a> 버튼을 눌러 Syncport를 다운로드하고 설치 후 로그인합니다.
        <% } else { %>
            Download Syncport application with pressing <a href="#">download</a> button and install.
        <% } %>
        </div>
        <ul>
            <li class="image">
                <img src="/static/images/howtouse_mac_1.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_mac_2.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_mac_3.png"/>
            </li>
        </ul>
    </div>
    <div class="step">
        <div class="step-box">Step 2</div>
        <div class="step-desc"><%= $sp.string("howtouse_step_mac_2") %></div>
        <img src="/static/images/howtouse_mac_4.png"/>
    </div>
    <div class="step">
        <div class="step-box">Step 3</div>
        <div class="step-desc"><%= $sp.string("howtouse_step_mac_3") %></div>
        <img src="/static/images/howtouse_mac_5.png"/>
        <div class="step-desc" style="margin-top:80px;"><%= $sp.string("howtouse_step_mac_4") %></div>
        <img src="/static/images/howtouse_mac_6.png"/>
    </div>
</div>
<div id="how-to-use-android" class="how-to-use-case">
    <h4><%=$sp.string("howtouse_index_android")%></h4>
    <div class="step">
        <div class="step-box">Step 1</div>
        <div class="step-desc">
            <% if($sp.context.locale=="ko_KR"){ %>
            <a href="https://play.google.com/store/apps/details?id=io.syncport" class="download download-android" data-log-click="android" target="_blank">Google play store</a>에서 syncport를 다운받고 설치합니다.
            <% } else { %>
            Download syncport android app in <a href="https://play.google.com/store/apps/details?id=io.syncport" class="download download-android" data-log-click="android" target="_blank">Google play store</a>, and install.
            <% } %>
        </div>
        <ul>
            <li class="image">
                <img src="/static/images/img_googleplay.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_android_1.png"/>
            </li>
        </ul>
    </div>
    <div class="step">
        <div class="step-box">Step 2</div>
        <div class="step-desc"><%= $sp.string("howtouse_step_android_2") %></div>
        <ul>
            <li class="image">
                <img src="/static/images/howtouse_android_2.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_android_3.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_android_4.png"/>
            </li>
            <li class="ic ic-arrow">&gt;</li>
            <li class="image">
                <img src="/static/images/howtouse_android_5.png"/>
            </li>
        </ul>
    </div>
    <div class="step">
        <div class="step-box">Step 3</div>
        <div class="step-desc"><%= $sp.string("howtouse_step_android_3") %></div>
        <img src="/static/images/howtouse_mac_5.png"/>
        <div class="step-desc" style="margin-top:80px;"><%= $sp.string("howtouse_step_android_4") %></div>
        <img src="/static/images/howtouse_mac_6.png"/>
    </div>
</div>
<div id="how-to-use-windows" class="how-to-use-case">
    <h4><%=$sp.string("howtouse_index_windows")%></h4>
    preparing..<br/>
</div>
</script>
