<script type="text/template" id="tmpl-page-download">
<% if ($sp.context.account) { %>
{% include "_header_auth.html" %}
<% } else { %>
{% include "_header_nonauth.html" %}
<% } %>
<div class="page-contents">
    <div class="page-header">
        <h1><%=$sp.string("client_download") %></h1>
        <h2><%=$sp.string("client_download_sub") %></h1>
        <img src="/static/images/img_download_white.png"/>
    </div>
    <div class="downloads-wrapper">
        <ul class="downloads" data-log-category="download">
            <li class="download-wrapper">
                <a href="https://play.google.com/store/apps/details?id=io.syncport" class="download download-android" data-log-click="android" target="_blank">
                    <i class="ic ic-down-android2">android download</i>
                </a>
            </li>
            <li class="download-wrapper">
                <a class="download download-ios" disabled>
                    <i class="ic ic-down-ios2">ios download</i>
                </a>
            </li>
            <li class="download-wrapper">
                <a class="download download-mac" disabled>
                    <i class="ic ic-down-mac2">mac download</i>
                </a>
            </li>
            <li class="download-wrapper">
                <a class="download download-windows" disabled>
                    <i class="ic ic-down-windows2">windows download</i>
                </a>
            </li>
        </ul>
    </div>
</div>
</script>
