<script type="text/template" id="tmpl-page-change-passwd">
<div class="page-holder<% if (!_context.account) { %> hidden <% } %>">
    <% if (_context.account) { %>
        {% include "_header_auth.html" %}
    <% } else { %>
        {% include "_header_nonauth.html" %}
    <% } %>
    <div class="error-prompt"></div>
    <div class="change-passwd-box">
        <div class="box-header">
            <h1><%=$sp.string("change_password_title") %></h1>
        </div>
        <form id="form-change-passwd" class="clearfix">
            <% if (!_context.account) { %>
                <input id="input-session-key" type="hidden" value="{{ temp_session_key }}"/>
            <% } %>
            <div class="input-wrapper">
                <input id="input-new-passwd" type="password" placeholder="<%=$sp.string("new_password")%>"/>
            </div>
            <div class="input-wrapper">
                <input id="input-new-passwd-confirm" type="password" placeholder="<%=$sp.string("new_password_confirm")%>"/>
            </div>
            <input type="submit"/>
            <a class="btn btn-change-passwd"><%=$sp.string("change")%></a>
        </form>
    </div>
</div>
</script>
