<!DOCTYPE html>
<html>
    <head>
        <title>Syncport</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="google" content="notranslate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
        <link rel="shortcut icon" href="/static/favicons/favicon.ico?v=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png?v=1">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png?v=1">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png?v=1">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png?v=1">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png?v=1">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png?v=1">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png?v=1">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png?v=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png?v=1">
        <meta name="apple-mobile-web-app-title" content="Syncport">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-192x192.png?v=1" sizes="192x192">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-160x160.png?v=1" sizes="160x160">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png?v=1" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png?v=1" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png?v=1" sizes="32x32">
        <meta name="msapplication-TileColor" content="#2d89ef"/>
        <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png?v=1"/>
        <meta name="msapplication-config" content="/static/favicons/browserconfig.xml"/>
        <meta name="application-name" content="Syncport"/>
        <meta name="keywords" content="syncport"/>
        {% if use_beta_desc %}
            <meta property="og:url" content="http://syncport.io/beta_tester"/>
            <meta name="description" content="The easiest way to move files between devices"/>
            <meta property="og:locale" content="ko_KR" />
            <meta property="og:title" content="[Syncport.io] 클로즈 베타를 모집합니다."/>
            <meta property="og:description" content="syncport는 개인이 가진 기기간에 파일전송과 동기화를 쉽게 할 수 있도록 도와주는 서비스입니다. 
            핸드폰과 컴퓨터 사이에 파일을 옮길 때에 usb 케이블 없이 앱을 설치하면 웹브라우저를 통해서 파일을 주고받을 수 있습니다. "/>
            <meta property="og:image" content="http://syncport.io/static/images/fb_image_large_beta.png"/>
        {% else %}
            <meta property="og:url" content="http://syncport.io"/>
            {% if request.locale == 'ko_KR' %}
            <meta name="description" content="The easiest way to move files between devices"/>
            <meta property="og:locale" content="ko_KR" />
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:title" content="Syncport.io"/>
            <meta property="og:description" content="Your devices in one place. The easiest way to move files between devices"/>
            {% else %}
            <meta name="description" content="The easiest way to move files between devices"/>
            <meta property="og:locale" content="en_US" />
            <meta property="og:locale:alternate" content="ko_KR" />
            <meta property="og:title" content="Syncport.io"/>
            <meta property="og:description" content="Your devices in one place. The easiest way to move files between devices"/>
            {% endif %}
            <meta property="og:image" content="http://syncport.io/static/images/fb_image_large.png"/>
        {% endif %}
        <meta property="og:site_name" content="Syncport"/>
        <!--
        <meta property="og:video" content="https://www.youtube.com/watch?v=H7CoeMMF-zg"/>
        <meta property="og:video:type" content="application/x-shockwave-flash" />
        -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400' rel='stylesheet' type='text/css'>
        <link href="/static/css/lib/glyphicons.regular.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/lib/bootstrap.modal.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/lib/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/lib/tooltipster.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/lib/hopscotch.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/base.css?v=20150309" rel="stylesheet" type="text/css"/>
        <!--[if lt IE 8]>
        <script src="/static/js/lib/json3.min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <![endif]-->
        <script src="/static/js/lib/jquery-1.11.0.js"></script>
        <script src="/static/js/lib/jquery-ui.js"></script>
        <script src="/static/js/lib/jquery.cookie.js"></script>

        {% if True %}
        <script src="/static/js/lib/raygun.custom.js"></script>
        <script>
            Raygun.init("JyKOfWO90BbV0mvdnhAXNw==", {
                allowInsecureSubmissions: true,
                ignoreAjaxAbort: true,
                ignoreAjaxErrorStatus: [400, 401, 403]
            }).attach();
        </script>
        {% endif %}

        <script src="/static/js/lib/underscore.js"></script>
        <script src="/static/js/lib/backbone.js"></script>
        <script src="/static/js/lib/md5.min.js"></script>
        <script src="/static/js/lib/notify-custom.js"></script>
        <script src="/static/js/lib/intercom.js"></script>
        <script src="/static/js/lib/sprintf.min.js"></script>
        <script src="/static/js/lib/bootstrap.modal.js"></script>
        <script src="/static/js/lib/jquery.tooltipster.js"></script>
        <script src="/static/js/lib/moment-with-locales.js"></script>
        <script>
            var $sp = $sp || {};
            $sp.context = $sp.context || {};
            $sp.context.locale = "{{ request.locale }}";
        </script>
        {% if True %}
        <script src="/static/js/syncport.min.js?v=20150321-2"></script>
        {% else %}
        <script src="/static/js/compat.js"></script>
        <script src="/static/js/jquery-extension.js"></script>
        <script src="/static/js/syncport.utils.js"></script>
        <script src="/static/js/syncport.remote.js"></script>
        <script src="/static/js/syncport.device.js"></script>
        <script src="/static/js/syncport.directory.js"></script>
        <script src="/static/js/syncport.filetransfer.js"></script>
        <script src="/static/js/syncport.deviceevent.js"></script>
        <script src="/static/js/syncport.account.js"></script>
        <script src="/static/js/syncport.router.js"></script>
        <script src="/static/js/syncport.view.models.js"></script>
        <script src="/static/js/syncport.view.js"></script>
        <script src="/static/js/syncport.polling.js"></script>
        <script src="/static/js/syncport.log.js"></script>
        <script src="/static/js/syncport.i18n.js"></script>
        <script src="/static/js/syncport.tour.js"></script>
        <script src="/static/js/syncport.js"></script>
        {% endif %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55453744-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id="noti-header"></div>
        <div id="page">
            <div id="page-default">
                <header id="nonauth-header" class="clearfix">
                    <div class="logo header-menu">
                        <a class="link-home">
                            <img src="/static/images/logo_254x60.png"/>
                        </a>
                    </div>
                </header>
                <div class="page-holder">
                    {% if request.locale == "ko_KR" %} 
                        <h1>무언가 잘못되었어요!</h1>
                        <h2>페이지를 불러오는데 실패하였습니다.</h2>
                        <img src="/static/images/img_broken.png">
                    {% else %}
                        <h1>Something went wrong!</h1>
                        <h2>Failed to load syncport view</h2>
                        <img src="/static/images/img_broken.png">
                    {% endif %}
                </div>
            </div>
            <script>
                $sp.pageRenderRobustTimer = setTimeout(function() {
                    $("#page-default").show();
                }, 5000);
            </script>
        </div>
        <div id="filter"></div>
        <div id="dropdown"></div>
        <div id="modal"></div>
        <div id="context-menu-holder"></div>
        <div id="minibar-holder"></div>
        <div id="dropzone-indicator"></div>

    {% include "_tmpl_signin.html" %}
    {% include "_tmpl_signup.html" %}
    {% include "_tmpl_device.html" %}
    {% include "_tmpl_device_contents.html" %}
    {% include "_tmpl_nonauth_index.html" %}
    {% include "_tmpl_download.html" %}
    {% include "_tmpl_howtouse.html" %}
    {% include "_tmpl_reset_passwd.html" %}
    {% include "_tmpl_change_passwd.html" %}
    {% include "_tmpl_browser_support.html" %}
    {% include "_tmpl_global.html" %}
    {% include "_tmpl_account_settings.html" %}

        <!-- This should be included at bottom of document -->
        <script src="/static/js/lib/hopscotch.js"></script>
    </body>
</html>
